[2015-11-28 19:01] brylie opened #1 "Choose project license"
We agreed to license the sourcecode under the AGPL. The AGPL text was added to the repository.

[2015-11-28 19:01] #1 closed

[2015-11-30 14:54] brylie opened #2 "Populate initial backlog"
The project needs a starting backlog. Break down the MVP document into small tasks. Prioritize tasks according to urgency, sequence, and importance.

[2015-11-30 14:59] brylie opened #3 "Set up Kanban board for issue tracking"
Find a Kanban visualization tool for Github issues, such as Waffle.io. Configure the platform repository to be displayed as Kanban. Invite other team members to the Kanban planning board, when it is ready.

[2015-11-30 15:03] brylie opened #4 "Create project scaffolding"
Create a basic project scaffold, based on a packages/microservices architecture. Include basic components from the MVP.

# Structure (Work in progress)
The file structure may be implemented as follows:

* lib
  * collections
    * collection-name
      * schema.js
      * permissions.js

[2015-11-30 15:07] brylie opened #5 "Create entity-relationship diagram for MVP data structure"
Create an [entity-relationship diagram](https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model#Entity.E2.80.93relationship_modeling) based on the MVP specification. This diagram will serve as a design reference model for the application data structure.

## Examples

![artist performs song](https://camo.githubusercontent.com/05b0808ff3ce44326bfe320ce7fee75fa128d5c8/68747470733a2f2f75706c6f

[2015-11-30 15:09] brylie opened #6 "Determine standup time and frequency"
The team should meet relatively frequently to coordinate efforts. Determine a time and schedule that works for everyone to have standups. These meetings should happen at least twice weekly and be no longer than 15 minutes.

[2015-11-30 15:16] brylie opened #7 "Create wireframe for Project Entry Form"
Projects will be submitted via an HTML form. In order to develop this form, we need a clear picture of what components it will have.

# User stories
[code]

[code]

[code]
[code]

# Task
Produce at least two simple, low-fidelity [wireframes](https://en.wikipedia.org/wiki/Website_wireframe) depicting the 'Add Project' form, including all fields. The wireframes should be distinct, to demonstrate mul

[2015-11-30 15:23] brylie opened #8 "Set up Git development branch and train team on Git Flow"
All development should take place in sub branches of the development branch. The project will use a [git-flow](https://danielkummer.github.io/git-flow-cheatsheet/) convention to name branches and collaborate.

# User story
[code]

[code]

# Task
* [x] Set up development branch
* [ ] Train team members on Git Flow

[2015-11-30 15:44] brylie opened #9 "Create basic styleguide"
Project designers need a designated style guide on which to base design choices. This styleguide will be expanded in subsequent sprints.

# User story
[code]

# Task
* [ ] Create a basic styleguide

# Definition of done
* [ ] Styleguide should include a color palette
  * [ ] include primary color (hex format)
  * [ ] include secondary color (hex format)
* [ ] Styleguide should include suggestion(s

[2015-12-01 23:09] leosa83 commented on #2
Have broken down the MVP in the document https://github.com/refugeetech/platform/blob/develop/TASKS_BREAKDOWN.md

[2015-12-01 23:10] leosa83 commented on #2
It could definitely be refined but it lets us create some initial issues in the backlog.

[2015-12-01 23:17] leosa83 opened #11 "Implement a mockup data generator"
Developers need data in the data model to be able to test and run the application.

# User story
[code]
# Open Task
* [x] Compile a list of 'fake data' tool, preferably with Meteor packaging

# Task
* [x] Determine the Use Case Scenarios / Development processes for 'fake data'
  * [x] Do research and get feedback
* [x] Choose a 'fake data' tool, preferably with Meteor packaging

# Definition of do

[2015-12-01 23:40] leosa83 commented on #9
This styleguide should already exist based on our UX leads designs @davidtobar.

[2015-12-02 07:47] brylie commented on #2
Alright, thanks. I will add some of these tasks to the Github issue queue (backlog).

[2015-12-02 07:54] brylie commented on #5
@leosa83 will you please add your initial UML diagram to this task? If possible, convert it to SVG, so that we can easily make changes.

[2015-12-02 07:56] brylie commented on #11
@leosa83 please provide a description for this issue. If possible, add acceptance criteria, such as 'mockup data should' or 'mockup data does'. Also, please add a user story in the form of:

[code]

[2015-12-02 08:13] leosa83 commented on #11
Ok will do

[2015-12-02 08:14] brylie opened #12 "Create schema for Projects collection"
Create a schema for the Projects collection, based on the initial UML design:
![screenshot](https://cloud.githubusercontent.com/assets/17307/11525601/292a7fca-98dd-11e5-896b-cfd9ed94288b.png)

# Acceptance criteria
* [x] Schema includes all fields from initial design
* [x] Field names are defined in camelCase
* [x] Data type is indicated for each field
* [ ] Validation is added for remoteId fields

[2015-12-02 08:15] brylie opened #13 "Add JSON route for Projects collection"
Create a JSON route that can be used to export documents from the Projects collection.

# User story
[code]

# Task
To complete this task, define at least two JSON routes:
* All projects
* Single project

It may be necessary to install a package to help with the JSON routing. To this end, the following packages have been mentioned:

* [simple:rest](https://atmospherejs.com/simple/rest)
* [simple:j

[2015-12-02 08:33] brylie opened #14 "Add basic authentication to the project"
Add user authentication to the initial project. Users can authenticate, initially, via email/password.

# User story
[code]

[2015-12-02 08:40] brylie opened #15 "Choose CSS framework for project"
In order to quickly design a responseive User Interface, we can choose from one of several available CSS frameworks. Choosing a CSS framework also means we can use integration packages from the Meteor Atmosphere.

Frameworks include:
* Bootstrap
* Polymer
* Semantic UI
* ...

It may be worth considering which framework(s) have the broadest support from the Meteor ecosystem.

[2015-12-02 08:58] #14 closed

[2015-12-02 09:11] leosa83 commented on #11
@brylie Any feedback on this?

[2015-12-02 10:44] brylie commented on #11
@leosa83, looks great :-)

[2015-12-02 10:45] brylie commented on #11
We may also need to choose a Meteor package for adding the mockup data. I am not sure specifically which to use, so this would be an important part to complete the task.

[2015-12-02 11:58] leosa83 commented on #11
@brylie Seem like if we use: https://github.com/json-schema-faker/json-schema-faker
or https://github.com/Marak/faker.js , we can just generate fake data on the fly.
This issue should therefore change description and title.

[2015-12-02 11:59] brylie commented on #11
@leosa83 also check for a Meteor package, or JS package which has Meteor support.

[2015-12-02 12:00] brylie commented on #11
E.g. faker.js has been [packaged for Meteor](https://github.com/digilord/meteor-faker). There may be other, possibly stronger, options for generating fake data in Meteor projects, so I just want to do due diligence here.

[2015-12-02 12:41] leosa83 commented on #11
@brylie

Faker.js comes as an NPM module. The following packages uses Faker.js in some way.

# Packages using faker.js (worth mentioning and know of)
- [digilord](https://github.com/digilord/meteor-faker) | server only
- [practical meteor](https://github.com/practicalmeteor/meteor-faker) | wrapper for Fake.js , client and server , seems good
- [schema faker](https://github.com/json-schema-faker/js

[2015-12-02 12:47] leosa83 opened #17 "Review #11"
# Task
* [x] Review #11

[2015-12-02 12:50] leosa83 commented on #15
@davidpaulsson is there anyone you prefer/recommend?

[2015-12-02 12:53] davidpaulsson commented on #15
TBH I'm no fan of frameworks and prefer to write CSS (SASS/SCSS) from scratch just utilizing smaller libs via npm (like resets etc). All these things just makes life bloated. They're great for a quick start and certainly have their place in the eco system, but are by no means any help when developing a GUI based on a unique design and most times you just have to fight the framework.

[2015-12-02 12:54] brylie opened #18 "Choose, add, and configure a routing solution"
In order to have URL structure in the application, we need to choose a router. The two main Meteor routing projects are:

* Iron Router
* Flow Router

Iron router has been widely adopted, but may no longer be maintained sufficiently. Flow router is newer, aims to be simpler than Iron Router, and has seen a recent upswing in adoption.

# Task
* [x] Compare Iron Router and Flow Router
* [x] Choose a

[2015-12-02 12:56] brylie commented on #15
I think we should start with a framework, specifically the Bootstrap Framework. There are a lot of Meteor packages that include Bootstrap, so our project may inherit it as a requirement regardless.

We can look at the practicalities of assembling and designing CSS from scratch, including shivs, resets, etc., but for now I think a Framework is more beneficial than costly.

[2015-12-02 12:59] davidpaulsson commented on #15
I strongly disagree, but go ahead :)

[2015-12-02 13:01] brylie commented on #15
With what do you disagree?

[2015-12-02 13:01] brylie commented on #15
Other than the premise?

[2015-12-02 13:05] leosa83 commented on #15
So what if we start with a framework to set things up and then go for the basic style of fronting you propose, if that is the teams preference at that time?

[2015-12-02 13:06] brylie commented on #15
To make a fair comparison, lets determine what you propose. What libs would you include from npm? What is the compiled size of one or more themes you have built from scratch?

I.e. we are trying to get off the ground quickly here and there are several packages, including Bootstrap, that help us scaffold an MVP.

I am interested in weighing the alternatives, and am no way insisting that the project

[2015-12-02 13:06] brylie commented on #15
@leosa83 :+1:

[2015-12-02 13:37] davidpaulsson commented on #15
I'm just saying that bending a front end framework such as bootstrap to fit a custom design is, in my experience, more troublesome than just writing the styles from scratch.

[2015-12-02 13:52] brylie commented on #15
Right, I understand better now. Lets see how we can keep Bootstrap from colliding with your design work :-)

[2015-12-02 13:56] brylie opened #19 "Determine how to add and publish relational data among collections"
The Projects schema lists several relational fields:

* `contactPersonId` - individual user ID
* `teamMemberIds` - array of user IDs
* `requestIds` - array of Request IDs

We need to figure out how we will associate data with each relational field.

E.g. how will we add new users to the team? How will we add a contact person? How will we link requests with the project?

Additionally, we may choose

[2015-12-02 14:10] brylie opened #20 "Add problem categories to projects schema and AutoForm UI"
Projects have a `problemCategories` field. Determine the desired options list for this field, or whether this is a free-tagging field, similar to the `tags` field.

The options will be used in the autoForm validation process, and display in the user interface.

# Task
## Schema
* [x] `problemCategories` field is defined in `ProjectsSchema`
* [x] `problemCategories` has the following for `allowedVa

[2015-12-02 14:17] brylie opened #21 "Implement currentStage field options"
Projects have a `currentStage` field. Determine the desired options for this field.

The options will be used in the autoForm validation process, and display in the user interface.

# Task

* [x] Determine initial project stage options

## Schema
* [x] `currentStage` field is added to Projects collection schema
* [x] `currentStage` field schema has an `allowedValues` property
  * [x] `allowedValue

[2015-12-02 14:22] brylie opened #22 "Create ProblemCategories collection and management UI"
Problem categories can be managed through the User Interface, if they have a collection as a backend. If the project categories may change over time, and it is not desirable to hard-code them into the system, add a  `ProblemCategories` collection. This will then necessitate a relationship between Problem Categories and any related entities, such as Projects.

# Task
Create a ProblemCategories coll

[2015-12-02 14:24] brylie opened #23 "Create ProjectStages collection and relationship(s)"
Project stages can be managed through the User Interface, if they have a collection as a backend.

If the project stages list may change over time, and it is not desirable to hard-code project stages into the system, add a  `ProjectStages` collection. This will then necessitate a relationship between ProjectStages and any related entities, such as Projects.

[2015-12-02 14:31] brylie opened #24 "Add 140 character limit to projectShort field"
The Projects schema contains a field called `projectShort`. It is desirable to enforce a character limit on this field, so that it falls within a certain limit.

# Task
* [ ] Add 140 character limit to projectShort field, via `max` attribute

# Related
Related issue #12

[2015-12-02 14:32] brylie opened #25 "Determine character limit for projectSummary field"
The Projects schema contains a [`projectSummary` field](https://github.com/refugeetech/platform/blob/develop/lib/collections/projects/schema.js#L11-L14). It may be desirable to enforce a character limit on this field, so that it falls within a certain limit. Add a character limit via the ProjectsSchema.

# Task
* [x] Clone the repository locally
* [x] Create a new feature branch based on develop
*

[2015-12-02 14:32] leosa83 commented on #15
I have to point something out.
David will be our main fronter doing the designs and everything on Jekyll using low level fronting. When that is set up, and the styles and interactions are stable, only then would we copy it over to the platform in Meteor. So there will be a transition phase where we mold bootstrap to the frontend designed for the Jekyll site. After this phase it will be easy to use

[2015-12-02 14:39] brylie opened #26 "Add Date picker widget to project startupDate field"
The Project startupDate field currently displays a text area on Firefox. It may be desirable to add a date picker widget to the field, so that people enter dates in the desired format. Choose an autoForm date picker, install it, and add it to the field.

[2015-12-02 14:45] brylie opened #27 "Convert Add Project form to multi-page wizard"
The Add Project is somewhat long, and may be confusing or tedious to complete. To help people with this process, it may be advisable to break it into smaller chunks. To this end, we can convert the form into a multi-step 'wizard'.

# Resources
* [forwarder:meteor-wizard](https://github.com/forwarder/meteor-wizard/) - package to convert AutoForms into elegant, multi-step forms

[2015-12-02 14:47] brylie opened #28 "Add targetPlatforms field options to schema and UI"
Projects have a `targetPlatforms` field. The options will be used in the autoForm validation process, and display in the user interface.

# Target platform options
The following options have been identified for the Target Platforms:

* Web,
* iOS,
* Android,
* Windows Phone,

# Task
* [x] Determine the desired options for this field.
* [x] Add the target platform allowed values to the Projects sch

[2015-12-02 14:49] brylie opened #29 "Determine data structure for Project `address` field"
The Projects schema contains an `address` field. Determine the data structure for `postalAddress` field, and how to dynamically collect the information.

# Task
* [x] Research international postal address standards
* [x] Research address packages for Meteor.js
* [x] Determine the required fields for a postal address object
* [x] Determine conditional logic for regional postal address variations
*

[2015-12-02 14:51] leosa83 commented on #19
We could use non relation fields where possible and then refactor if needed.
The requestIDs array could be project specific and only exist within the project. Then just use namespace to refer to a specific request.

Same with Team, lets not use a relationship (have external references) it could only be an array with user accounts. Whenever someone is added to the team the project adds it. The user

[2015-12-02 14:51] brylie opened #30 "Design Project links field display and data structure"
The Projects schema has a `links` field. Determine the data structure for links, and how the data should display. E.g. are there pre-set link types? Should the link be an object with type/link keys and corresponding values for link type and the URI?

# Task
## Links field
* [x] Project schema contains `links` field
* [x] Links field type is 'array of objects' `[Object]`
* [x] Links field contains

[2015-12-02 14:52] leosa83 commented on #19
I think this should be a Sprint 0 issue.

[2015-12-02 14:57] leosa83 commented on #20
Social,Bureaucracy,Housing,Education & Languages,Employment,Coordination,Healthcare

[2015-12-02 15:02] leosa83 commented on #20
Should this be documented somehow? We got those categories from our problem identification workshop and report.
[problem_identification_workshop_report.pdf](https://github.com/refugeetech/platform/files/49838/problem_identification_workshop_report.pdf)

[2015-12-02 15:03] brylie commented on #20
Yep. We need them in the project documentation. Please add them to the repository, in markdown or some other plain text format. I will work from the list in this issue.

[2015-12-02 15:06] brylie commented on #19
We have the same issue whether we use a relationship or store the IDs in an array within the document. Namely, how do we associate the informaiton with the Project? What does the end-user see? How do they select the related entities? Is there a list, or what type of interface element? How to preserve privacy of user data, if we use, for example, user email as primary identifier.

[2015-12-02 15:09] brylie commented on #19
Also, the `contactPersonId` and `teamMemberIds` fields would seem to link to a User account. If this is the case, then we are already looking at a relationship type of field.

Also, `requestIds` seem to link to separate Request entities. Either we store the requests in the project document, or we are back to the initial questions of how to allow users to link requests to projects.

We need UI diag

[2015-12-02 15:10] leosa83 commented on #18
Regarding simplicity and rapidness of development i would go Flowrouter
But there are much less packages supporting Flowrouter

So i think we should decide based on what other packages we will need for the projects. Lets try to think ahead there. I think an issue should be opened to list all packages and frameworks the platform will use.

[2015-12-02 15:12] brylie commented on #19
I have added related diagramming tasks to the issue. These diagrams will help us more fully think through the requirements and communicate them with the development team.

[2015-12-02 15:13] brylie commented on #19
Also, please understand that by 'relational field' I simply mean storing a foreign key ID in a related entity.

[2015-12-02 15:14] brylie commented on #18
It seems like Flowrouter is a good choice. I will add this to the project ASAP.

[2015-12-02 15:19] leosa83 commented on #22
Agree.

[2015-12-02 15:23] leosa83 commented on #25
It should be tweet sized: 140

[2015-12-02 15:24] leosa83 commented on #27
Nice.

[2015-12-02 15:29] leosa83 commented on #28
Web, Ios, Android,Windows mobile, PC, Mac, Linux, Ubuntu
(maybe some functionality to only show the 4 most common as default, then load more or something)

[2015-12-02 15:31] leosa83 commented on #29
the adress field should be and adress object in a universal format

[2015-12-02 15:45] leosa83 commented on #24
It should be: 140 characters

[2015-12-03 10:12] brylie commented on #29
OK, what format? What fields does the format contain? How are addresses encoded for different locales?

[2015-12-03 10:16] brylie commented on #29
This is not a trivial task, so I am moving it to Sprint 1. If we simply display a text field for `postalAddress`, we can collect the information (albeit in an unstructured form). If we need structured data, we have to research and plan this task a bit more.

[2015-12-03 10:19] brylie commented on #28
OK, the 'show the most common as default' may be non trivial. However, we can easily display a list of options, based on your reply above.

[2015-12-03 10:34] leosa83 commented on #29
There should be several commonly used formats for the data structure that includes locales. We investigate this and then only use those fields we need. So im still thinking it is trivial though.

[2015-12-03 10:41] leosa83 commented on #29
Ok i saw now that you had already created the tasks for this.

[2015-12-03 11:04] brylie commented on #12
Based on the number of underlying questions, I am estimating that we will continue this in Sprint 1. Also, we need to clarify whether it is desirable or necessary to have two collections `Projects` and `ProjectDetails`, which seem to have duplicate data.

[2015-12-03 11:08] brylie commented on #29
@leosa83 would you like to take this task?

[2015-12-03 11:25] brylie commented on #25
@leosa83 I have updated the task description to include specific steps and links to relevant information.

[2015-12-03 14:13] talltorp commented on #29
The postal address could have a similar structure to the one google address autocomplete returns.
https://developers.google.com/maps/documentation/geocoding/intro#Types

I have implemented a version of the autocomplete in this (not yet released) rails app.
[Try it](http://insamlingslistan.herokuapp.com/) | [Code on GitHub](https://github.com/talltorp/insamlingslistan)
1. Click the button
2. Write

[2015-12-03 14:57] leosa83 commented on #29
Thanks @talltorp, will look it up. Yes ill take this @brylie

[2015-12-03 15:18] leosa83 commented on #29
What if we begin with just country and postal code as fields in Project, and later go for a structured adress object? I think this will save up som time spent on really low prio stuff.

[2015-12-03 15:24] leosa83 commented on #28
Lets just have list with only Web, Android, iOS, Windows Mobile

[2015-12-03 15:25] leosa83 commented on #28
Updated the requirements.

[2015-12-03 15:39] leosa83 opened #32 "Implement fields for country and city into Project schema"
# Open Task
* [ ] Determine how to validate postal Address field
* [ ] Document the method/tool for validation

# Task
* [x] Rename `address` field to `postalAddress`
  * [x] Set `postalAddress` field type to `Object`
* [x] Add sub-fields to the `postalAddress` object
    * [x] `country` - type: String
    * [x] `city` - type: String
* [x] Add `postalAddress` field to [Add Project form](https://gi

[2015-12-03 15:45] leosa83 commented on #25
@brylie Thank you for the detailed steps!

[2015-12-03 15:48] leosa83 commented on #25
Updated the description. projectShort is 140 sized.

[2015-12-03 15:52] leosa83 commented on #12
We determined we wont go for separate collections initally.

[2015-12-03 16:20] leosa83 opened #33 "Compile a list of existing tech projects targeting the integration process"
# Task
* [ ] Research existing projects using other listings and google
## Sources
source#1(https://techfugees.slack.com/archives/meta-coordination/p1452167145000006))
http://simonbjohnson.github.io/europe-refugees-16-3w/
based on: https://docs.google.com/spreadsheets/d/1C9fmpzb3VhoGOsCnRAnhbXZNkKd3sVZIN0Ha1VOBQjk/edit#gid=1142452757

* [ ] Create a google form based on the projects schema
* [ ] I

[2015-12-03 16:23] leosa83 commented on #17
#11 is now reviewed

[2015-12-03 16:24] #17 closed

[2015-12-03 23:06] yboulkaid commented on #24
PR for this : #34

[2015-12-03 23:09] yboulkaid commented on #28
PR for this : #35

[2015-12-04 14:40] Angamanga commented on #32
I can also help out with this one, am researching something similar for another project!

[2015-12-04 14:42] leosa83 commented on #32
Nice! Have you checked out #29 ?

[2015-12-04 14:44] leosa83 commented on #32
@Angamanga Because it might be what you really are investigating for the other project as this issue is pretty trivial.

[2015-12-04 14:45] leosa83 commented on #32
Ah ok now i see , you are talking about the Open Tasks, they are not so trivial.  Sorry forgot about those.

[2015-12-04 14:49] Angamanga commented on #32
Yeah, I did, but #29 definitely is useful :)

[2015-12-04 14:50] Angamanga commented on #33
I'm in!

[2015-12-07 09:33] brylie commented on #32
@Angamanga will you take this task? It simply involves creating a schema for the `postalAddress` field, with the data type `Object`. The `postalAddress` field has two sub-fields, `country` and `postalCode`, which are both type `String`.

Refer to the [aldeed:simple-schema](https://github.com/aldeed/meteor-simple-schema) documentation for examples of object fields with sub-fields:
- [field types](h

[2015-12-07 09:35] Angamanga commented on #32
Yep!

[2015-12-07 10:15] brylie opened #36 "Add CONTRIBUTING.md to project"
In order to help new developers learn how to contribute, we can add a CONTRIBUTING.md to the project.

# Definition of done
* [x] CONTRIBUTING.md file exists in project
* [x] CONTRIBUTING.md contains:
  * [x] Gitflow instructions - explaining naming conventions and optional Gitflow extension
  * [x] Filestructure used in project
  * [x] Packages used
  * [x] Frameworks used

[2015-12-07 13:34] leosa83 opened #37 "Refactor README.md"
The project description in README.md needs to be revised. It is difficult to understand and follow.

1. The text '(WORKING)' in each phase heading is meant to convey that the features are not set are a work in progress based on best available knowledge. But it could be interpreted as if the features are in fact done, or that development of them have been start.
* [x] Change '(WORKING)' to somethin

[2015-12-07 13:37] #24 closed

[2015-12-07 13:39] #28 closed

[2015-12-07 14:27] leosa83 commented on #5
Will be using ArgoUml for this. Unfortunately ArgoUml doesnt have an Undo functionality (!) so i lost all ive been working with for a couple of hours :(

[2015-12-07 19:04] leosa83 opened #38 "Create a documentation folder"
We need a folder to hold project documents

[2015-12-07 19:05] leosa83 opened #39 "Upload the problem identification workshop report in the documentation folder"
[problem_identification_workshop_report.pdf](https://github.com/refugeetech/platform/files/54450/problem_identification_workshop_report.pdf)

[2015-12-07 20:56] Angamanga commented on #32
A question, do we want city or postCode? Or both? In the task-description it says city and @brylie you wrote postCode above in your comment. I just want to double-check. I also noticed in the schema that some of the fields are expecting the input values via arrays and some don't ([String] for some and just String for others), what determines that? Are the arrays for fields where many separate valu

[2015-12-07 21:45] leosa83 commented on #32
@Angamanga Check the API of bring; does it need a city code? If it does we have citycode aswell and not if it doesnt. If you seem to need much time to investigate this than just use city code instead.

Regarding the schema - i was iterating on that today and was going to post but i lost all of my work. I think its yes to your question. Where one would expect one to many/many to many relationship t

[2015-12-07 22:12] Angamanga commented on #32
@leosa83 The bring api only need a postCode and is very simple to use, I managed to use it today without much work. But it only works for a few countries. Which countries do we expect projects from? Only Sweden? Then the Bring-api is an option, but if we want a more country-independent validator, we need something else (and that is probably a good idea if we want the platform to be of use for othe

[2015-12-07 22:20] leosa83 commented on #32
@Angamanga Ok i see, then municipalities would be cities right? Like Järfälla , Sweden : but that would give a lot of possible post codes.. Maybe we dont need that specific information at the moment since we are probably not sending anything to those involed. When we need it we could refactor or just have a latent postCode field in the schema that is not used..

Thanks, no worries :) It happens on

[2015-12-07 22:31] Angamanga commented on #32
Yes, exactly, so using Bring would make the locations be a bit weird in the larger city-areas where there are a lot of smaller municipalities, like Stockholm. And it might be wierd in larger municipalities with lots of smaller towns too when I think about it. I think city is enough, as long as we validate it in some way so we don't get lots of different spellings etc. I'll check googleplace out a

[2015-12-08 08:08] brylie commented on #38
I have created a [documentation repository](https://github.com/refugeetech/documentation). The documentation license is CC Zero, so that all project documentation is Public Domain, worldwide.

[2015-12-08 08:09] #38 closed

[2015-12-08 08:16] brylie commented on #39
You can use the [documentation repository](https://github.com/refugeetech/documentation) for this text. Also, do you have the document in plain text format? It would be helpful to convert the text to markdown.

[2015-12-08 08:48] brylie commented on #32
@Angamanga great! It looks like you are sorted. Using `country` and `city` is good for now, and is probably simpler in some ways than the `postalCode` field.

I have updated the issue description with reference and example code from my previous comment.

[2015-12-08 12:03] leosa83 commented on #39
Great! Will be uploading a markdown format when i have the docx format. Will use this tool: http://word-to-markdown.herokuapp.com/

[2015-12-08 14:04] 2ECC71 commented on #25
I'll take this

[2015-12-08 14:59] Angamanga commented on #32
Ok, have pushed the new schema and added the form but no validation yet. I have a question to @brylie, where should I put the validation function? Directly in the schema.js file, in the same directory or is it better with a utils directory with that kind of stuff?

[2015-12-08 19:47] leosa83 commented on #6
I think that we should have three weekly standups and one planning meeting every/first monday of the sprint. What do you think? =propose> Standups fridays , wednesdays and mondays. Planning meeting is for everyone interested but mainly for me and brylie. Then i would mainly communicate whats was planned during the planning meeting those days standups and planning meeting same day.

[2015-12-08 19:49] leosa83 commented on #9
One could just use the current style in refugeetech.com until we have a formal style guide.

[2015-12-08 19:57] leosa83 commented on #11
How should we use a fake data tool @brylie? Should we have fake collections, how would we switch between a fake collection and real collections in a test environment. How do we set it up for dynamic creation of fake data so no collections are needed, how do we switch between dynamically generated data testing and other... Naturally there are many ways to use it but how do you prefer to do it? Shou

[2015-12-08 21:33] Angamanga commented on #6
That sounds like a good idea! However, tuesdays and thursdays would be better for me until the end of january.

[2015-12-08 23:11] leosa83 commented on #6
That works fine for me! => Monday planning + standup, Tuesday standup, thursday standup, friday standup for those who can. Too much?

[2015-12-09 08:44] brylie commented on #11
@leosa83 to keep our code simple, we should just add fake data to our collections. We should avoid using fake data in any production system, but would use fake data for demonstration and testing purposes.

[2015-12-09 08:46] brylie commented on #15
Alright, I have added the Bootstrap 3 framework. Please be aware of Bootstrap 3 naming conventions, so that we can avoid clashing. Also, consider blending with and extending some of the Bootstrap 3 features, so that we can benefit from the development time that has been invested in the Bootstrap community.

[2015-12-09 08:46] #15 closed

[2015-12-09 08:47] brylie commented on #4
We have a basic project started, so I will close this issue.

[2015-12-09 08:47] #4 closed

[2015-12-09 09:23] talltorp commented on #11
Using factories is a really nice way to describe the data that you use in tests.
But it is also a good way of generating seed data in a controlled way.

It can use libraries to fake random names, so all users emails are unique for example.

You could put this in a setup script for developers to run on first install.

[code]

The example is copied from here
https://github.com/Differential/meteor-bo

[2015-12-09 11:42] leosa83 commented on #3
This is now set up at https://waffle.io/refugeetech/platform

[2015-12-09 11:43] #3 closed

[2015-12-09 12:07] leosa83 commented on #19
I think we should have Teams as a collection. Each project can have several teams. Each team is an array of Meteor.User

[2015-12-09 13:32] #2 closed

[2015-12-09 18:09] leosa83 commented on #30
link:{title: 'string', adress:'adress', description:'longstring' , hover:'hover text'}

Not sure if we will need description.. The usecase is for projects to be able to promote stuff, to have a list of links.

[2015-12-09 18:10] leosa83 commented on #30
Shouldnt we also have social links, that are predifined types. I.e facebook, linkedin, etc ?

[2015-12-09 18:14] leosa83 commented on #26
Datepickers are really dependent on the full UX design of the application. We could implement one just for us to input real projects, as we will use fake data tools for testing, but im not sure it will be worth the trouble at the moment. So this one is a low prio atm.

[2015-12-09 18:31] leosa83 commented on #23
At the moment we will only have two different statuses of projects: under development, released. This will change with time when we do better segmentation of projects.

Based on this; would you use ProjectStages as a collection at the moment? @brylie

[2015-12-09 18:55] leosa83 commented on #36
Should the file contain what i added to description @brylie ?

[2015-12-09 18:56] leosa83 commented on #36
According to #22:
This project is using a feature module organization pattern. Please use the following, or similar, file structture:

/ (project root)
problemCategories/
both/
collections/
collection.js
schema.js
permissions.js
client/
templates/
templateName.html
templateName.js
server/
methods.js
publications.js

[2015-12-09 19:07] leosa83 commented on #36
added the file to development branch , has only filestructure at the moment

[2015-12-09 22:25] 2ECC71 commented on #25
@brylie @leosa83 What is a suitable length for the summary? 500 chars seems to fill the field at it's default size. Is the summary just a summary of the project description? Than maybe 500 chars is enough?

[2015-12-10 00:25] leosa83 commented on #22
Is the project currently using the feature module organization pattern for Projects collection? @brylie

[2015-12-10 01:10] leosa83 commented on #25
Yes i think its enough. Thanks!

[2015-12-10 01:10] #25 closed

[2015-12-10 09:09] leosa83 commented on #22
@brylie What naming convention are we using for the new Mongo.Collections('name') : camelcase, underscore or something else? Ive read its best practice to only use lowercase letters..

[2015-12-10 12:51] brylie commented on #22
Camel case for collection names. The collection variable starts with an upper case, while the collection name (in parenthesis) is camelCase.

[2015-12-10 12:54] leosa83 commented on #22
Ok

[2015-12-11 09:01] brylie commented on #19
The following article recommends the publish composite package:

http://justmeteor.com/blog/why-we-dont-denormalize-anymore/

[2015-12-11 16:24] leosa83 opened #42 "Reorganize the filestructure of Projects collection"
# Definition of done
* [x] Filestructure of Projects collection follows the feature module organization pattern
* [x] Make sure that /client and /server sub-directories are treated the same way as when on top level. ie /client files are published to the client and /server files are published to the server
* [x] If answer is no to the above how do you circumvent this publishing mechanism? (is the p

[2015-12-11 16:26] leosa83 commented on #42
@brylie can you answer the second and third task/question?

[2015-12-14 11:11] brylie opened #43 "Consider how to use OpenStreetMap for placename validation"
We would like to suggest placenames to users as they fill out some project forms. Consider how to use the OpenStreetMap API to autocomplete placenames while collecting the structured data.

[2015-12-14 13:31] brylie opened #45 "Add route for add project form"
The add project form needs to be displayed on a dedicated page. We can later refactor this to use a modal box, but for now users should be able to access the form via a route.

Create the route /projects/add and render the `addProject` template at that route.

[2015-12-14 13:33] brylie opened #46 "Add route and view for 'all projects'"
We need a route and view to display projects.

* [x] Create a view called `allProjects`
* [x] Create template logic to fetch all projects
* [x] Create template markup to render all projects
* [x] Add a route `projects` that renders the `allProjects` template

[2015-12-18 11:53] #12 closed

[2015-12-18 12:55] #18 closed

[2015-12-18 14:15] brylie opened #49 "Update landing page with project details"
The `landing` template does not have any content. Add some basic text and page elements to describe the RefugeeTech Platform.

# Task
* [x] Choose a starter template from [Bootstrap Zero](http://www.bootstrapzero.com/)
  * [x] Consider using [Landing Zero](http://www.bootstrapzero.com/bootstrap-template/landing-zero-free-bootstrap-theme)
* [x] View source code of starter template.
* [x] Add CSS fi

[2015-12-18 14:20] brylie commented on #49
@loxtank, would you consider taking this task?

[2015-12-18 14:22] 2ECC71 commented on #49
sure!

[2015-12-18 14:23] brylie commented on #49
Thanks :-)

[2015-12-18 14:23] brylie commented on #49
Be sure to work in a feature branch, by branching from `develop`

[2015-12-18 14:24] 2ECC71 commented on #49
yup

[2015-12-18 14:36] #45 closed

[2015-12-18 14:37] #46 closed

[2015-12-18 14:39] brylie commented on #49
I just merged the Projects related views. Please include a link to `/projects` in your landing page navigation menu. Everything else about the landing page is stand-alone for the timebeing.

[2015-12-18 14:42] brylie opened #51 "Add role = "navigation" to mainNavbar"
The mainNavbar nav currently lacks accessibility feature, called role. Add `role = "navigation"` to the `nav` element in the `mainNavbar` template.

[2015-12-18 15:32] 2ECC71 commented on #49
Will this actually be used for anything other then testing?
Should the project link open a new page or be a part of the "one page design" of landing zero?

[2015-12-18 18:00] brylie commented on #49
The _Projects_ link should open the `/projects` page in the same window. Our application uses a routing layer, so has multiple paths and pages.

[2015-12-18 22:48] #32 closed

[2015-12-21 12:31] #49 closed

[2015-12-21 12:41] brylie opened #53 "Add social media links to mainFooter template"
The `mainFooter` template now has links/icons for social media (Twitter and Facebook). However, the links are not active.

# Task
* [ ] Determine actual links for RefugeeTech social media
  * [ ] Facebook
  * [ ] Twitter
* [ ] Update `mainFooter` template to include proper links

[2015-12-21 13:33] Angamanga commented on #53
I can take this one!

[2015-12-21 13:34] Angamanga commented on #51
I can fix this one too!

[2015-12-21 19:51] 2ECC71 commented on #21
I'll take this.
A quick google search for "project management phases" gives me 4-5 phases, roughly:
1. Initiation
2. Planning
3. Implementation/Execution
4. Operation/Monitoring
5. Closing

Does that seem reasonable?
EDIT, realised we will have all sorts of projects.

[2015-12-21 20:40] #37 closed

[2015-12-22 08:39] Angamanga commented on #53
Please check pull request from feature/issue53

[2015-12-22 08:39] Angamanga commented on #51
Please check pull request from branch feature/issue51

[2015-12-22 11:50] #51 closed

[2015-12-22 11:50] #53 closed

[2015-12-22 15:35] #42 closed

[2015-12-22 15:48] leosa83 commented on #30
Something like the following will do where we keep track of a predefined set of linktypes. the linklist type is for having any type of link. the social for social etc.:
links { social: {facebook: 'uri', linkedin:'uri', othersocial: 'uri' }, linklist: [{name: 'string', uri:'uri', description:'string' , hover:'string'}]. Other types could be added: partners, etc. But at the moment we really onle nee

[2015-12-23 08:26] brylie commented on #33
@leosa83 status update?

[2015-12-23 08:43] brylie commented on #21
@loxtank these stages look good. Would you like to add the `projectStatus` field to the `Projects` schema, and configure the options as `allowedValues`?

[2015-12-23 08:49] brylie commented on #21
@loxtank I have updated the task description. Will you please carry this task forward?

[2015-12-23 09:39] 2ECC71 commented on #21
Yep. I'll do it.

[2015-12-23 10:27] leosa83 commented on #33
@angamanga is doing this
Den 23 dec 2015 09:26 skrev "Brylie Christopher Oxley" <
notifications@github.com>:

[2015-12-23 13:38] brylie commented on #33
OK, be sure to keep the Assignee field accurate, so that we know who is working on what.

[2015-12-23 13:42] brylie commented on #23
We decided to hard code this into the schema.

[2015-12-23 13:42] #23 closed

[2015-12-23 13:44] #6 closed

[2015-12-23 13:44] #7 closed

[2015-12-23 13:44] #8 closed

[2015-12-23 13:45] brylie commented on #39
@leosa83 status update?

[2015-12-23 13:46] leosa83 commented on #33
Will do

[2015-12-23 13:47] brylie commented on #19
Based on the previous article, personal experience, and the number of projects using the package, I recommend we use the **publish-composite** package.

[2015-12-23 13:52] leosa83 commented on #19
Nice

[2015-12-23 13:57] brylie commented on #30
@leosa83 would you take this task?

[2015-12-23 14:00] #29 closed

[2015-12-23 14:09] leosa83 commented on #30
will do

[2015-12-23 19:27] #21 closed

[2015-12-23 20:29] 2ECC71 commented on #13
@brylie : Is this a package we could use?
https://atmospherejs.com/simple/rest

[2015-12-27 14:28] leosa83 commented on #19
I had a look at publish-composite package and i like the flexibility of it. I think we decide on going forward with this package. Do install the package and close this issue when youre able @brylie

[2015-12-27 14:52] #20 closed

[2015-12-27 15:03] leosa83 commented on #22
There seem to have been an error: we have hardcoded the problemcategories in #20 in the project s schema. Shouldnt we have used a relationship instead...? @brylie But i recall that you said somewhere that we should hardcode.. Are we then going to close this issue and not use problemCategories schema. Or should we complete this issue and just go with hardcoded anyways initially..?

[2015-12-27 15:33] leosa83 commented on #30
I find it easier to loop over an array of objects rather than over an objects fields therefore ill change the datastructure, in the description, of socialMedia to be the same as that of links field.

[2015-12-27 19:03] leosa83 commented on #30
Removed socialMedia as a spearate field and added type field to links

[2015-12-27 19:03] #30 closed

[2015-12-27 19:14] leosa83 opened #59 "Add startupDate field to the Projects schema"
Add startupDate field to the Projects schema.

startupDate will contain the date when the project was initated.

Add a quickfield in the addProject.html template

[2015-12-29 11:24] 2ECC71 commented on #59
Is this the date when the project was added to the platform or the date when it was actually initiated?

[2015-12-29 12:55] leosa83 commented on #59
Its the date when the project was initiated. Maybe we should create an issue for documenting the code..

[2015-12-29 22:24] brylie commented on #13
Yep, that would sure give us a simple REST API! :-)

Would you like to try this task?

[2015-12-30 21:27] 2ECC71 commented on #13
I can try :)
Is there a better way to do it? Without installing a package?

[2015-12-30 21:31] 2ECC71 commented on #13
https://atmospherejs.com/simple/json-routes
Perhaps this is a better way.

[2015-12-31 07:37] brylie commented on #13
Yep. That was the original idea, hence the issue name. Give JSON Routes a try :-)

[2015-12-31 07:44] brylie commented on #13
I have updated the task description.

[2016-01-02 11:05] brylie opened #60 "Request that all organization members make membership public"
To demonstrate a growing community around our project, it would be useful to show the public who is involved in our project. To this end, each team member can make their membership public.

# Task
* [ ] Get as many team members to make their membership public
  * [ ] Platform team (8 members)
  * [ ] Refugeetech.com team (6 members)
  * [ ] All current members (11 members)

[2016-01-02 11:05] brylie commented on #60
@refugeetech/platformteam please make your organization membership public by visiting the following page:
https://github.com/orgs/refugeetech/people

Click the lock icon next to your name, and choose "Public"

[2016-01-02 11:06] brylie commented on #60
@refugeetech/refugeetech-com please make your organization membership public by visiting the following page:
https://github.com/orgs/refugeetech/people

Click the lock icon next to your name, and choose "Public"

[2016-01-02 14:57] #13 closed

[2016-01-03 13:16] 2ECC71 commented on #27
Example of using forwarder:meteor-wizard with Flowrouter:
https://github.com/bySabi/meteor-wizard-example-with-flowrouter-bootstrap/

[2016-01-03 23:36] 2ECC71 commented on #27
Hi there. Been spending a couple of hours on this, mostly to get to know my way around the code.
Im pushing a branch named feature-issue27 with a lot of stuff done, and kind of working. But a few major problems:
1. Next button on page 2 of the 3 page wizard only works after page reload. @brylie i saw you had the same problem. Perhaps this is a deal-breaker?
2. Can't get it to accept SimpleSchema o

[2016-01-04 11:16] brylie commented on #27
1. We had to write our own [templates for each step of the wizard](https://github.com/apinf/api-umbrella-dashboard/tree/develop/client/views/api_backends/add-backend-workflow)
2. You may need to quote the schema objects, `"links.url"`
3. the 'wizard' feature would be defined in its own package folder
4. Please describe this more clearly, or link to your error/code

[2016-01-06 20:20] #59 closed

[2016-01-06 20:25] leosa83 commented on #60
Not everyone are active, so at the moment i would only request that @davidpaulsson does this for both /platform and /refugeetech.github.io Thanks!

[2016-01-06 20:28] leosa83 commented on #39
This is done. Havent been able to convert to an open format though. Will be looking at this farther ahead.

[2016-01-06 20:29] #39 closed

[2016-01-06 20:31] leosa83 commented on #36
@brylie It would be great to have this issue done soon as the interest to help out is increasing. Let me know what i can do to help you get this issue closed asap. Thanks.

[2016-01-06 20:45] leosa83 commented on #26
Lets go ahead with this. Do you wanna take this one @loxtank ?

I would go for this one: https://github.com/aldeed/meteor-autoform-bs-datepicker/ that packages the bootstrap datepicker widget: http://eternicode.github.io/bootstrap-datepicker

[2016-01-06 21:10] leosa83 commented on #11
@talltorp Sorry for not responding earlier, i thought had.. Thank you for the helpful comment :)

[2016-01-06 23:25] leosa83 commented on #11
Will be using practicalmeteor:faker

[2016-01-07 08:08] leosa83 commented on #11
Have now used practicalmeteor:faker together with  dburles:factory for a basic generator to be used in the browser console. Startup scripts to be added.

[2016-01-07 08:32] #11 closed

[2016-01-07 09:02] brylie commented on #36
Well, the task can be considered done for now. We can update the contributing instructions as need in the future.

[2016-01-07 09:12] leosa83 commented on #36
I didnt see you had edited the file. Looks good. Lets just add to the Packages description before closing this issue fully.

[2016-01-07 09:21] brylie commented on #36
What do you want to add to packages? Is it relevant to new contributors or could it be added to readme?

[2016-01-07 09:52] leosa83 opened #66 "Relocate fakedata.js"
Move client/fakedata.js to projects package folder.
Delete /client
Remove the Meteor.startup
Remove empty lines

[2016-01-07 10:01] leosa83 commented on #36
I just want them to have easy access to necessary documentation to the packages used.

[2016-01-07 11:35] brylie commented on #36
I have added a packages section and mentioned the Meteor framework.

[2016-01-07 11:35] #36 closed

[2016-01-08 01:15] leosa83 commented on #5
Have been mocking with the different stages and corresponding entities.
1. Is the MVP project hub without request
2. Is mvp project hub
3. Is crowdsourcing capabilities.

![erdiagram_ls_01](https://cloud.githubusercontent.com/assets/710548/12187584/65c41558-b5ad-11e5-9818-e3c8d407c02a.png)

[2016-01-08 02:03] brylie commented on #5
Great work. The ER diagram doesn't need so much detail. Just the entities in the system and their relationships.

[2016-01-08 02:05] brylie commented on #5
Some examples:

![Artist song](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Erd-entity-relationship-example1.svg/640px-Erd-entity-relationship-example1.svg.png)

![Employee ssn](https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Erd-entity-with-attribute.svg/640px-Erd-entity-with-attribute.svg.png)

[2016-01-08 02:09] brylie commented on #5
Basically, which need a concept map of how to design the system. We can make UML diagrams and schemad as follow up tasks.

[2016-01-08 09:22] 2ECC71 commented on #26
Yes, I'll take this

[2016-01-08 10:28] leosa83 opened #67 "Add dynamic shrinking effect to navigation bar"
Enhance the navigation menu with dynamic resizing.

# Related issues
* **Blocker**: This issue is a follow up to issue #71.
* **Parent**: This issue is created based on mockup in issue #70

# Instructions
* Create CSS rules using bootstrap
* Determine method for dynamic resizing
* Add dynamic resizing JavaScript and/or CSS rules

# Definition of Done
* [x] When scroll down on the front page,the na

[2016-01-08 10:29] brylie commented on #26
@loxtank thanks!

[2016-01-08 10:30] leosa83 commented on #67
Man kan även ladda up resources

[2016-01-08 13:38] loxtank opened #68 "Create Projects collection filtering functions"
#### The "projects" page needs collection filter functionality.

#### User Story
As a user i want to filter the projects shown according to two arguments:
* Location
* Challenge category

#### Definition of done
* [x] Two dropdowns appear on project page
* [x] Dropdowns are automatically populated with values from Projects collection.
* [x] When default values are selected, all projects from Proje

[2016-01-08 14:20] 2ECC71 commented on #68
@brylie Perhaps we could use this package?
https://atmospherejs.com/doctorpangloss/filter-collections

[2016-01-09 14:51] leosa83 commented on #68
Area of expertise will not be possible until Requests collection has been defined and implemented - this is the second phase of the mvp. Will modify the issue accordingly.

[2016-01-09 15:16] #26 closed

[2016-01-09 15:28] leosa83 opened #70 "Create issues based on the mockup"
We need to create project issues based on this mockup, in order to prioritize and track our efforts.

# Mockup
![rt_hub_menu](https://cloud.githubusercontent.com/assets/710548/12224637/ae3caf84-b7f6-11e5-9170-95ad6b224efb.png)
https://projects.invisionapp.com/share/J353G8DCW#/screens/118855239

# Definition of Done
* [ ] All aspects of the projecthub have been issued from these designs

## Child i

[2016-01-09 17:18] mark-mcevoy commented on #5
How about something like this? I'm still getting my head around the requirements so will take a few attempts :) (By the way I couldn't upload an svg file, github wouldn't allow it).

![er diagram - project hub](https://cloud.githubusercontent.com/assets/12165681/12217317/19468520-b6fd-11e5-8e74-cd5c1191314f.png)

[2016-01-09 18:12] leosa83 commented on #5
Great!

My feedback:

. Use the Request to encapsulate needs relationship. => Project makes
requests that requires skills and or proffesions. Check out my previous
comment (https://github.com/refugeetech/platform/issues/5#issuecomment-169858473) and the entities I've used there.
. Project targets one or several problem categories rather than beeing
described by them.

lör 9 jan 2016 6:18 em Mark M

[2016-01-10 11:16] mark-mcevoy commented on #5
Great thanks for the feedback! I have updated the diagram as necessary.

Some notes:
- I have kept profession and skills as seperate entities, as I think it would be difficult to define a profession with a certain subset of skills. For example a web developer is a profession, but skills for one web developer might be javascript, html, css, while another might be ASP.NET, Sql Server.
- I have added

[2016-01-10 23:29] leosa83 commented on #5
This is great!

Feedback:
- Having skill and profession as separate entities is sound and also something suggested in my previous comment i previously referred to: https://github.com/refugeetech/platform/issues/5#issuecomment-169858473
- You are correct that modelling the Problem relationships is not something we need to have in the MVP. I have previously explained this aswell (https://github.com/

[2016-01-11 01:03] leosa83 commented on #70
@refugeetech/platformteam

Have a look at the description of this issue. There is much todo still. It would  give us structured requirements  to create the issues needed for effective collaboration. We need to collaborate on this.

@miladf

Have a look and give any feedback necessary based on your standpoint

[2016-01-11 08:43] brylie commented on #70
I recommend using relative values for layout, such as `em` or `rem`. Pixel based values should be used only where required, on elements such as borders. Specifically, 55px and 75px are rather arbitrary, and could easily be expressed in relative values:
* 75px: 4.5em
* 55px: 3.5em

[2016-01-11 08:50] brylie commented on #67
I recommend using relative values for layout, such as `em` or `rem`. Specifically, 55px and 75px are rather arbitrary, and could easily be expressed in relative values:
- 75px: 4.5em or 4.5rem
- 55px: 3.5em or 3.5rem

These values are based on a 16px root or parent font size, which is reasonably easy to read.

[2016-01-11 08:54] brylie opened #71 "Add navigation menu to default layout"
The default layout needs a navigation menu, so that users can have consistent navigation throughout the site.

# Definition of done
* [x] Navigation menu exists in default layout
* [x] Navigation menu has links to primary pages
  * [x] Navigation links have hover state: Underline
  * [x] Navigation links are **bold** when linking to current page (using Bootstrap 'active' class)
* [x] Navigation me

[2016-01-11 10:07] brylie commented on #5
Wow! Nice work. This helps to clarify our system model.

[2016-01-11 10:09] brylie commented on #5
@mark-mcevoy go ahead and upload the SVG file to the `documentation` repository, and put it in a sub-folder called `planning`. Make sure you are working in a branch of the `develop` branch, and open a Pull Request by comparing your branch with `develop`. We can assist with the pull request, if needed :-)

[2016-01-11 11:56] brylie commented on #68
@loxtank good find! Lets give it a try.

[2016-01-11 12:03] brylie commented on #68
I have also used a [reactive-table package](https://github.com/aslagle/reactive-table) in a different project. In the reactive table view, I added [select menus to filter the table](https://github.com/GeriLife/wellbeing/blob/develop/client/views/activities/activities.html#L10-L20).

[2016-01-11 12:31] modsmoss commented on #67
Great @brylie ! Will start using relative units wherever possible. (everywhere but borders I believe)

I started to work on #67 on a local branch, but was never able to push it back up to github. Maybe someone can help me with this? (access denied)

When I did this I created a new folder main > client > _header_
In the header folder I put _navbar.html_, _navbar.css_ and _navbar.js_

Would this be

[2016-01-11 12:32] brylie commented on #67
@modsmoss what repository were you attempting to push to?

[2016-01-11 12:33] brylie commented on #67
@modsmoss you should have write access now.

[2016-01-11 12:34] brylie commented on #67
Keeping all the files in the same folder _main / client / header/_ is conventional. Lets stick with it for now.

[2016-01-11 12:35] brylie commented on #67
However, you are probably working on our landing page, which is defined in [/landing/client/](https://github.com/refugeetech/platform/tree/develop/landing/client)

[2016-01-11 12:36] modsmoss commented on #67
platform. I cloned it and switched to a new branch. After commits I did `git push origin feature-issue67`

I did this from my other computer, where I first was logged in as another user when I cloned. But I switched to _modsmoss_. I will try again from another computer..

[2016-01-11 12:39] brylie opened #72 "Add language select to navigation menu"
As part of our translation effort, we want people to be able to select their native language when browsing the site. This task is based on other translation efforts/functionality, so may be blocked for the timebeing

# Definition of done
* [ ] Navbar contains language menu in right section
* [x] Language selection menu is prefixed with "globe" icon
* [ ] Language select/menu is pre-populated with

[2016-01-11 12:40] brylie commented on #67
Please also give your feature branch a meaningful name. E.g. `feature/navigation-menu-dynamic-resize`

[2016-01-11 12:41] modsmoss commented on #67
Sure, will do. I thought the issue would describe and branch name refer. But I guess I got that wrong

[2016-01-11 12:44] brylie commented on #67
Good thought, there are just times where I am scanning the branch names without the issue numbers memorized.

[2016-01-11 12:47] brylie opened #73 "Choose and add internationalization (i18n) framework"
In order to present our content to people in their native language, we need to choose an internationalization framework.

# Definition of done
* [ ] Team/contributor has done a brief survey of current Meteor i18n frameworks
* [ ] Team has chosen one i18n framework based on current understanding
* [ ] i18n framework/package has been added to project
* [ ] Initial i18n strings have been inserted int

[2016-01-11 12:56] brylie opened #74 "Translate application strings to Swedish"
Once the internationalization package has been added to our project and i18n strings have been added to existing code #73, we can translate the User Interface texts into Swedish.

# Definition of done
* [ ] The swedish translation file exists in project translations directory
* [ ]  *optional* - Team has agreed on a translation tool
* [ ]  *optional* - Translation file has been uploaded to transla

[2016-01-11 13:07] brylie opened #75 "Add "Share" feature to front page"
In the front page mockup, there is a link to "Share" in the navigation menu. We need to design and add this feature.

For milestone 0.2 the share feature will only be the right side of this mockup:https://projects.invisionapp.com/share/HQ540EQ2S#/screens/124546663

# Definition of done
* [x] UI Wireframe exists showing result of clicking "Share" link in navigation menu <br> For milestone 0.2 the s

[2016-01-11 13:15] brylie opened #76 "Add social media links to "share overlay""
Once the share menu has a link to display a "share overlay", we will want to add links to common social media accounts.

# Definition of done
* [ ] Share overlay contains links to most/all of the following networks
  * [ ] Facebook share
  * [ ] Twitter share
  * [ ] Linkedin share
  * [ ] Challenge your friend (Requirements needed) - e.g. send direct email

# Privacy concerns
Care should be taken

[2016-01-11 13:38] brylie commented on #67
@modsmoss lest go ahead and assign you to this issue and #71.

[2016-01-11 13:40] brylie commented on #71
Note, some of these styles are part of the Bootstrap framework, such as the 'active' link styling. Please stick as close to Bootstrap semantics as possible, extending the Bootstrap framework with your custom work.

[2016-01-11 13:50] brylie opened #77 "Add search feature for Projects collection"
Create a basic search feature for the Projects collection.

# Definition of done
* [x] Search fields are chosen from projects collection
* [x] Search index is added to project (so that other fields, possibly from other collections, may be added to index)
* [ ] `ensureIndex` has been added to desired fields in Projects collection
* [x] The team is aware of the options for creating a search index sp

[2016-01-11 13:51] brylie opened #78 "Add search feature to front page"
Based on issue #77, we will add a search button/user interface to the front page.

* [x] show searchResults and allProjects template dynamically based on if currently searching

[2016-01-12 11:21] leosa83 commented on #70
Thank you @brylie for reviewing and creating issues!

[2016-01-12 11:46] leosa83 commented on #75
This is the share overlay: https://projects.invisionapp.com/share/J353G8DCW#/screens/124546663

[2016-01-12 11:59] brylie commented on #75
@leosa83 please post a static image (e.g. jpeg or png) in the issue discussion.

[2016-01-12 15:22] leosa83 commented on #60
@refugeetech/platformteam
@refugeetech/design
@refugeetech/develop

Please make your membership public

[2016-01-12 15:41] #66 closed

[2016-01-12 17:13] leosa83 opened #80 "Create issues based on the Project profile page"
# Description
This issue is about coordinating efforts to develop the Project profile page
# Parent issue
#70

# Design
![rt_hub_wf_009_1_articlepage_v4_dt](https://cloud.githubusercontent.com/assets/710548/12270780/145ac384-b958-11e5-832b-23a1386542f9.png)

## In the mockup
https://projects.invisionapp.com/share/J353G8DCW#/screens/125324195

# Definition of Done
* [ ] All aspects of the Project p

[2016-01-12 18:03] leosa83 opened #81 "Implement MVP Project Profile feature"
# Description
In order for users to view details about a given project, we need to plan/design a Project profile feature.

## MVP
The MVP feature will have the following capabilities:
* Project title
* Project description
* Project 'metadata'
  * Launch date (year format)
  * Category
  * Location (City)
  * Target platform
  * Social media links
  * Website link

## MVP Enhancements
Subsequent it

[2016-01-12 20:39] leosa83 commented on #80
I have submitted a pull request solving #81. For each template an issue can be created. So if you wanna work with a particular template make sure to create an issue beforehand and then create a feature branch to solve it. Remember to assign yourself to the issue before starting the work on it.

[2016-01-13 09:55] brylie commented on #81
@leosa83 this issue is very vague. It might be better to focus development one specific feature at a time. Each feature branch adds relevant templates and logic, so we don't really need to pre-populate the project with empty files.

[2016-01-13 11:25] brylie opened #83 "Implement Project Media feature"
As an extension of the Project Profile feature, started in issue #81, we want to add the ability to attach photographs to a project profile display. This feature needs design, planning, and implementation.

[2016-01-13 11:27] brylie opened #84 "Implement Share Project feature"
As an extension of the Project Profile feature, started in issue #81, we want to allow users to share projects on various social media channels. This feature needs design, planning, and implementation.

# Related issues
#75 - add share button to front page
  * This feature will likely use the same sharing library, and should carefully ensure user privacy in a similar manner

[2016-01-13 11:30] brylie opened #85 "Implement Project Progress feature"
As an extension of the Project Profile feature, started in issue #81, we want show project progress on a given project profile. This feature needs design, planning, and implementation.

[2016-01-14 18:39] mark-mcevoy commented on #5
Updated diagram to include relationship between Project and Problem.

I have created a pull request with the diagram added in svg format, please see https://github.com/refugeetech/documentation/pull/2

![er diagram - project hub](https://cloud.githubusercontent.com/assets/12165681/12333718/37563a54-baf6-11e5-8493-662fcf00bba6.jpg)

[2016-01-14 20:58] leosa83 commented on #5
Great!  could you 1. Upload a diagram called mvpdiagram not including
problems. And 2. A diagram including problems, challenges, solutions,
ideas. The second diagram we will be needing soon .. I will create an issue
for the second diagram . So for the pull request upload the first one
instead (without problems).  Sorry for the inconvenience.

tors 14 jan 2016 7:40 em Mark McEvoy notifications@gith

[2016-01-15 08:46] brylie commented on #5
PR merged for initial diagram. Great work!

[2016-01-15 08:46] #5 closed

[2016-01-15 10:05] leosa83 commented on #5
@brylie I guess you didnt agree with my comment?

[2016-01-15 11:33] brylie commented on #5
@leosa83 I thought you were creating a follow-up issue for improvements. The diagram provided in the PR is a great start.

[2016-01-15 11:42] leosa83 commented on #5
Ok i see!
Youre right its better to create a follow up issue for everything brought up in my comment, instead of changing the PR.
Thanks

[2016-01-15 23:45] leosa83 opened #86 "Allow tags to be added to projects and create composite publcation"
# Description
At the moment Tags are attributes of Projects collection. While searching through the tag cloud after projects related to a specific tag, it is helpful to have a relational data structure to search through.
By using reactive joins with the [reywood:publish-composite](https://github.com/englue/meteor-publish-composite/) package, it is possible to create such a datastructure without th

[2016-01-15 23:47] leosa83 commented on #86
@brylie review please

[2016-01-15 23:49] leosa83 opened #87 "Install package to publish relational data"
# Description
* [ ] Install the [reywood:publish-composite](https://github.com/englue/meteor-publish-composite/) package

[2016-01-15 23:56] #87 closed

[2016-01-16 00:19] leosa83 commented on #86
It doesnt seem to work to do what i intended. Tags needs their own collection. Or we need to work out how to easily search through projects tags without the need of accessing every project every time.

[2016-01-16 13:46] mark-mcevoy opened #89 "Add route and view for 'Project Profile'"
## Route
* [x] Route exists for viewing individual project
* [x] Route takes a `projectID` argument
* [x] Route renders `projectProfile` template (component)

## Publication
* [x] `singleProject` publication exists
* [x] `singleProject` publication takes `projectId` argument
* [x] `singleProject` publication returns a database cursor
  * [x] database cursor receives project ID in `find()` method:

[2016-01-17 09:48] brylie commented on #86
Yes, we need a tags collection. Then, each project has a `tagIds` Array field. Publish composite is then used to ensure each project page has relevant tags available by publishing all related documents at once.

[2016-01-17 12:57] mark-mcevoy commented on #83
I've done a little research, and think we could make use of this CollectionFS package to help us with the uploading and storing of images:

https://github.com/CollectionFS/Meteor-CollectionFS

Note that we would need to choose one of the following storage adapters (also meteor packages):
cfs:gridfs
cfs:filesystem
cfs:s3
cfs:dropbox

I've seen that filesystem can cause issues if we are hosting our

[2016-01-17 13:53] leosa83 commented on #83
Great , i would use the adapter cfs:gridfs. Since we wont need to use cfs:filestystem we wont have any issues with meteors test servers: gridfs doesnt use the filesystem to store the files (as opposed to cfs:filesystem).

[2016-01-17 20:08] leosa83 opened #95 "Add the Tags collection to the project"
# Parent issue
#86

[2016-01-18 10:21] #67 closed

[2016-01-20 00:01] #89 closed

[2016-01-20 00:02] leosa83 commented on #85
closed by feature-#85

[2016-01-20 00:02] #85 closed

[2016-01-20 00:02] leosa83 commented on #83
closed by feature-#83 , great work @mark-mcevoy

[2016-01-20 00:02] #83 closed

[2016-01-20 07:39] brylie commented on #22
@leosa83 for the MVP we might benefit by simply hard-coding the problem categories and adding translation strings.

If we put the categories into a colleciton, we have to figure out how to allow edits, removal, etc while ensuring that projects maintain relationships with categories. We also need to add translation UI to the categories management UI.

[2016-01-20 10:24] leosa83 commented on #22
@brylie I think you are right, im having some issues doing this for the Tags schema. Then for the MVP we will hardcode. I will remove the projectCategories schema from the project.

[2016-01-20 10:28] brylie commented on #22
OK, cool. Should we assign this task to a later milestone, or close it?

[2016-01-20 10:29] leosa83 commented on #22
I think we can close it for now. Will close it with a merge commit that removes the folder structure.

[2016-01-20 10:52] #22 closed

[2016-01-20 10:55] leosa83 commented on #77
I have found some bugs:
- adding new project using the interface doesnt reactively update the searchindex
  but activating the search will find a newly added project

[2016-01-20 10:59] leosa83 commented on #78
Enhancment needed:
- show searchResults and allProjects template dynamically based on if currently searching

[2016-01-20 11:01] leosa83 commented on #78
This can overcome the bug in #77

[2016-01-20 13:14] leosa83 commented on #86
Could you take over this issue brylie?

[2016-01-20 13:14] leosa83 commented on #86
@brylie Could you take over this issue brylie?

[2016-01-20 15:17] leosa83 commented on #78
@mark-mcevoy do you wanna continue on this one from feature-#78 branch? Check my latest commit messages regarding reseting searchbar state

[2016-01-20 18:01] mark-mcevoy commented on #78
Ok @leosa83 I can take over.

[2016-01-20 19:19] mark-mcevoy commented on #78
I didn't get too far with this but noticed a bug with searchbars.js:

[code]

The timeout is too short for me, so the click.result doesn't fire in autoSuggestRoutes. I think these kind of timeouts are too risky, as the behaviour is too unreliable from user to user. We should do the blur event a different way, for example by having a document.onclick event and checking if .result was clicked, else

[2016-01-20 21:07] leosa83 commented on #78
I agree. Please do as you think is best.
Den 20 jan 2016 20:20 skrev "Mark McEvoy" notifications@github.com:

[2016-01-21 05:45] brylie commented on #78
@mark-mcevoy have you checked for Meteor typeahead packages, or similar?

[2016-01-21 05:46] brylie commented on #78
Also, this is a 0.3 milestone task. We still need to complete the [0.2 milestone tasks](https://github.com/refugeetech/platform/milestones/0.2), so efforts should be directed there for now.

[2016-01-21 07:51] leosa83 commented on #78
Yes thats true, i didnt realize that either.

[2016-01-21 09:14] leosa83 commented on #78
I think it might be easier to have routes for the  navbar aswell, potentially with differeent templates for each route.

[2016-01-21 22:21] 2ECC71 commented on #68
problemCategory is done.
when i try to filter on postalAddress.country meteor crashes and tells me postalAddress is undefined.
@brylie

[2016-01-21 22:25] 2ECC71 commented on #68
Exception from sub projects/easySearch id nYB5qWbLpZ7qyGbsn TypeError: Cannot set property 'country' of undefined
I20160121-23:25:07.520(1)?     at MongoDBEngine.EasySearch.Index.engine.EasySearch.MongoDB.selector (projects/collections/collection.js:21:40)
I20160121-23:25:07.520(1)?     at MongoDBEngine.callConfigMethod (lib/core/engine.js:50:19)
I20160121-23:25:07.520(1)?     at MongoDBEngine.get

[2016-01-21 23:49] 2ECC71 commented on #68
Aha, not possible to handle nested objects in easysearch:
https://github.com/matteodem/meteor-easy-search/issues/79

[2016-01-22 15:44] brylie commented on #86
@leosa83 yep.

[2016-01-22 15:47] brylie commented on #77
@leosa83 is the search engine defined for the proper fields? Also, what is the source of the query? We need to make sure the UI is pulling data from a reactive source, so that things behave dynamically.

[2016-01-25 14:51] leosa83 commented on #86
Thanks!

[2016-01-26 13:15] brylie commented on #86
I have started implementing the tags multi-select field. The collection publication may come afterwords.

[2016-01-26 13:18] brylie opened #104 "Add selectize.js widget to Project Tags field"
The project tags field will contain an array of tag IDs. In order to help users select tags while allowing tag ID to be stored, we can add a select widget. For this task, Selectize.js may be sufficient.

# Definition of done
* [x] Schema, publication, subscription, etc have been created for Tags feature
* [x] Project tags field suggests tags as user types
* [x] Tags are stored in Tags collection
*

[2016-01-26 13:19] brylie commented on #104
I have almost completed this task. I am just unable to get the newly created tag to appear in the tags field. I have opened an [upstream support request](https://github.com/selectize/selectize.js/issues/992).

[2016-01-26 14:12] leosa83 commented on #86
Great!

[2016-01-26 14:16] leosa83 commented on #104
Ok nice job and thanks for posting it upstreams.

[2016-01-27 08:53] brylie commented on #86
The composite publication, for tags at lease, may not be necessary. The current Pull Request (#105) denormalizes the data, so that the tags are stored in both the Tags collection and as an array of strings in the Project document. This was a compromise, since we were unable to figure out how to store the key for newly created tags, via the Selecgize.js widget.

[2016-01-27 10:44] leosa83 commented on #86
Ok lets go with that.

[2016-01-27 10:44] #86 closed

[2016-01-27 10:47] brylie commented on #95
I have added this collection as part of #105

[2016-01-27 10:49] virre commented on #81
In the branch origin/feature-issue81-frontend is a inital sketch of a design for the profile page, some details is not yet explained and some details need to be changed, but all visual elements are in somekind of place to match the design image here. Functionalities are also missing.

[2016-01-27 10:50] brylie commented on #80
Marking this as resolved, since the issues have been created as part of issue #81

[2016-01-27 10:50] #80 closed

[2016-01-27 10:57] brylie opened #106 "Filter bar enhancements"
Once the basic filter bar feature is in place, we will begin enhancing the aesthetic. Enhancements include dynamic layout, opacity, and other design details.

# Definition of done
## Design
### Wireframe
  * [ ] Wireframe is monochrome (i.e. black and white)
  * [ ] Wireframe contains annotations
  * [ ] Wireframe shows only fiter bar
  * [ ] Wireframe depicts each desired filter bar state

### HT

[2016-01-27 11:05] brylie opened #107 "Search bar enhancements"
Once the basic search bar is in place, we can enhance subtle design aspects to improve usability. The following ideas have been suggested for the final design.

# Design proposals

## States
* [ ] Default state ==  70% opacity (What are you looking for?)
* [ ] Typing state == 100% opacity for text && Loading icon at 70% opacity

## Autocomplete and inline search results
* [x] Autocomplete, suggest

[2016-01-27 11:09] brylie commented on #19
I am marking this complete as we have merged related PRs.

[2016-01-27 11:09] #19 closed

[2016-01-27 11:10] brylie opened #108 "Create publication(s) and subscription(s) for Projects feature"
Since removing the `autopublish` package, our pages will not render properly. We need to add corresponding publications and subscriptions for the Projects feature.

[2016-01-27 11:13] brylie opened #109 "Language select, drop-down on hover"
It may be possible to open the language select menu when a user hovers. Determine if this is useful, desirable, and practical. Implement the auto-dropdown feature if it genuinely improves usability and is practical to add.

[2016-01-27 11:16] brylie commented on #70
Marking this as complete, as most of the prominent issues have been added to backlog. We can continue to manage our backlog as time progresses.

[2016-01-27 11:16] #70 closed

[2016-01-27 11:16] #95 closed

[2016-01-27 11:16] #104 closed

[2016-01-27 14:30] Angamanga commented on #33
@leosa83 A form is found here: https://docs.google.com/forms/d/18Ho3xTLrUkBv3N5F3Coewybj-fVdXYLWtVk5fMEd1pM/viewform

I am wondering two things: 1. do we already have specific tags we want to use? 2. I got a list of projects from you in december, are they ok to add?

[2016-01-27 14:33] Angamanga commented on #33
@leosa83 @brylie One more question, in the schema.js file there are a Teams-feature that is commented out. Should that info still be included in the form?

[2016-01-27 17:26] brylie commented on #33
It is fine to include it in the form. We need to develop the teams feature in the software, but there is no reason not to collect the information from project coordinators via a webform.

[2016-01-27 17:26] #108 closed

[2016-01-27 23:30] leosa83 opened #111 "Add categories to projects"
i.e every project will have a category depending on its level of compliance to the RT standards.

The RT standards are yet to be developed but the following categories have been agreed upon:

RT Projects, Community Projects, Other Projects

## Whats the purpose
The purpose of this is among others to make sure the projects we list are targeting relevant problems and creating sustainable solutions.

[2016-01-27 23:41] leosa83 commented on #109
@miladf @Davito163
Whats your input?

[2016-01-27 23:48] miladf commented on #109
It truely is more user friendly, but we should be consistent so that it goes good with the buttons next to the language button. Hoover + dropdown is nice, but I personally think it is a bit old way of working. @Davito163 might want to have some kind of overlay as with the share-button interaction. I let him decide :)

[2016-01-27 23:51] miladf commented on #33
Here's something we started with some time ago:
https://docs.google.com/spreadsheets/d/1TIwiec7jSqyUqhwMWU5YNKyaE9sIRmcJ3qOAHBZ0CeU/edit?usp=sharing

[2016-01-27 23:57] leosa83 commented on #33
Nice @miladf had forgotten about that one :+1:  We could use that for ourselves, its nice to have it in spreadsheet form.
But now im thinking that we could set up a cloud 9 instance with the sole purpose of adding projects to the database. We could then export it with some package.
This also reminds mee that wee need an edit functionality for projects.
@brylie Could you set up an issue for editing

[2016-01-28 00:07] leosa83 opened #112 "Add Type field to projects"
# Description
A project can either be solving a problem with tech as an important tool or be solving it in a more analog way.
The Projecthub is focused on supporting Tech projects but the initatives (analog projects) are important stakeholders and problem owners and are hopefully helped by the services developed by Tech projects.
It is therefore important to have both tech and analog projects in t

[2016-01-28 00:12] leosa83 commented on #112
This might better be described as 'type' rather than category

[2016-01-28 10:29] brylie opened #113 "Add edit feature for existing projects"
Currently, there is no way to edit existing peojects. Add an edit feature including access control checks.

[2016-01-28 10:54] leosa83 commented on #113
Should we use a hidden field with ObjectId => if null => insert , if exists => update?
How to do that with quickform @brylie ?

[2016-01-28 21:15] Angamanga commented on #113
I can take a look at this one!

[2016-01-29 09:20] brylie commented on #113
Great! Go ahead and self-assign :-)

[2016-01-30 14:01] leosa83 commented on #112
It is really the solution the project is aiming to develop that could be regarded as Tech or Non tech or a combination. Of course most tech solutions are services mediated by technology. So where would one draw the lines. To begin with i believe a binary measure is easy and good enough.. In conclusion i think the solution(s) should be what formally defines if a project is tech or non tech.  => sol

[2016-01-30 14:04] leosa83 commented on #112
We will need an issue that makes solution.isTech==TRUE projects easily distinguishable from other projects.

[2016-01-30 14:06] leosa83 commented on #112
The naming could be: 'Tech initiatives' vs 'Other initatives' ...

[2016-01-30 14:21] leosa83 commented on #111
The solution(s) used by the project tells us if it is a Tech initative or Other Initative
The Problem Categories  / Problems tells us what Challenge category they are categorized under (The naming convention here should be changed to Challenge Categories rather than Problem Categories.)
Thus; RT standards compliance tells us if the project is further categorized under RT Projects vs Community proj

[2016-01-30 14:24] leosa83 commented on #111
@Davito163 We could make use of a logo/stamp for RT projects (before the hackathon), community projects (later) , Other projects (later)

[2016-01-30 14:27] leosa83 commented on #111
Maybe the naming could be reviewed : even RT projects are community projects....

[2016-01-31 17:14] loxtank opened #116 "Add "project submitted" page to add project wizard"
#### The add project wizard need a submission confirmation page.

#### User Story
As a user i want a confirmation that my project has been submitted and added, i also want to view the submitted project.

#### Definition of done
* [ ] When clicking  "Submit Project" button on "add project" page a confirmation page is displayed.
* [ ] Check if project was actually added to database.
* [ ] Confirmati

[2016-01-31 18:00] loxtank opened #118 "Add solution field to singleProject page"
#### All projects has a "solution" field indicating if the project is primarily a "tech" project or "other" project.
The solution also has a description.
We should add both the type of solution and the description to singleProject.

#### Definition of done
* [ ] Type of solution appears on singleProject page. (solution.isTech) (if true project is "tech", if false project is "other")
* [ ] Solution

[2016-01-31 18:09] loxtank opened #119 "Reactively update the project filtering dropdowns"
#### On the projects page the filter dropdowns need to be reactively updated when a search is performed or another filter is selected.

#### User Story
As a user i _don't_  want to be able to select categories or locations that does not contain any projects.

#### Definition of done
* [ ] When a search is performed both dropdowns are automatically updated to only contain options that will display

[2016-01-31 20:15] leosa83 commented on #9
@modsmoss @virre @josefcarlsson WIll you be neeing a styleguide or are the mockups enough for you to go on?

[2016-01-31 22:13] #112 closed

[2016-01-31 23:10] leosa83 commented on #116
Great. Will set proper milestone tag.

[2016-01-31 23:20] leosa83 opened #122 "Fixed Size singeProject html"
The singleProject template outputs html that resizes based on the content. This messes up the flow when some are a bit larger than most others.

# Definition of done
* [ ] Give singleProject html templates fixed size regardless if mobile or other screen

[2016-01-31 23:33] leosa83 commented on #116
This is before there are accounts and in time for the possibility to sign up using our meteor 'add Project' form. Instead there will be a webform using typeform.

[2016-01-31 23:44] leosa83 opened #123 "Create a requirement specification for release 0.2"
As we are having our hackathon 20160206 we need to release 0.2 on friday, the day before. Thus we need clear specifications for what is going to be developed the coming week.

[2016-01-31 23:45] leosa83 opened #124 "Link to a typeform for signing up for the projecthub"
# Definition of done
* [x] Developed the questions
* [x] Created the typeform  (http://tinyurl.com/rt-jointhehub)
* [x] Hardcoded the link in the code
  * [x] Landing page "Get involved" buttons"

# Benchmark
https://docs.google.com/forms/d/1jb9J2GUuXmrQswnQK-TVDJwNZc0hnd4VmEq_wlExcjo/viewform

[2016-01-31 23:47] leosa83 opened #125 "Finalize the code into a working release for 0.2"
Using the gitflow workmethod we are going to strip the code from development stuff and just publish what has been defined in the requirements for 0.2

[2016-01-31 23:51] leosa83 opened #126 "Publish the release"
# Definition of done
* [ ] set up a server for the release
* [ ] change the cname of refugeetech.com to the server
* [ ] deploy the release

[2016-02-01 00:13] #68 closed

[2016-02-01 00:16] leosa83 commented on #125
I think @brylie is suited for this issue. Sometime on friday the fifth this should be finalized.

[2016-02-01 00:30] leosa83 opened #127 "Develop the RT project page"
# RT Project profile page
* [x] Related projects on project profile page **Not** in scope because it requires filters
* [x] New requirements have been set and will be documented soon
* [x] Create basic wireframe @Davito163
* [ ] Create design @Davito163
* [ ] Create infographics @Davito163

# Wireframe
![rt_hub_wf_010_1_articlepage_v5_dt](https://cloud.githubusercontent.com/assets/710548/12779636/

[2016-02-01 07:24] brylie opened #128 "Add schema migration support to project"
As we continue development, some of our changes affect the project data structure. In order to update the data structure for existing deployments, some sort of migration needs to take place. Add schema migration support to the project and require that any project data structure changes include a corresponding migration process.

[2016-02-01 07:58] modsmoss commented on #9
I think we can do without for now but it would definitely help in future iterations. I think we should start already by gathering code snippets together with descriptions and images of the appearance. That way you can just go and grab a snippet when adding an element later on, and keep it consistent throughout the project. Does anyone know a good tool for this? @virre @josefcarlsson @leosa83

[2016-02-01 15:09] leosa83 opened #131 "Clarify additional project requirements by creating and prioritizing issues"
There are several issues that still need definition and priority. Use the text below as the basis for creating new issues.

# Background
Last week we kick started our pilot process where we go from identifying problems to solving those and finally hacking those solutions.
On the 6th and 7th of February we will hold the hackathon.
Remember to signup:  http://tinyurl.com/rt-pilothack
Read more about

[2016-02-01 15:40] leosa83 commented on #128
This will be needed asap. There is another datastructure change in #111.

[2016-02-01 15:42] leosa83 commented on #131
@refugeetech/platformteam
Please review and add to this issue and lets collaborate to work this out.

[2016-02-01 15:48] leosa83 opened #132 "Blog"
# Instructions
* [x] New requirements have been set and will be documented soon

## Parent issue
#131

[2016-02-01 16:01] leosa83 commented on #131
@brylie How should we manage a release branch? Is it ok to strip the releasebranch from code that still exists in the develop branch?. Im wondering because some features that have been developed will not be used for 0.2 , but it seems sloppy to include code that wont be used. Or is it ok to have code lying around that wont be used in a release?

[2016-02-01 16:15] leosa83 commented on #132
have pushed a feature-blog branch to work on this

[2016-02-01 19:00] Angamanga commented on #122
@leosa83 please check pull-request 133

[2016-02-02 09:02] brylie commented on #131
The release is made from the `develop` branch. In effect, the 0.2 release is a snapshot of the `develop` code at the time it is made.

[2016-02-02 09:03] brylie commented on #131
@leosa83 please create issues for any additional features (such as those listed above) and add them to the 0.2 milestone.

[2016-02-02 09:04] leosa83 commented on #131
Ok so then it is ok to have code lying around, in a release to be published live, which is not doing anything because its not yet ready?

[2016-02-02 09:04] leosa83 commented on #131
Will do

[2016-02-02 09:18] brylie commented on #131
We should remove any unused code, or at least comment it out to show that it is not working. This includes UI boilerplate text.

[2016-02-02 09:19] leosa83 commented on #131
Ok , lets comment it out then.

[2016-02-02 09:21] brylie commented on #131
Alright cool. I am feeling a bit worried about the 0.2 release requirements. The 0.2 rellease seems to be slipping further away, as some considerably large features have been added to the list.

[2016-02-02 09:28] leosa83 commented on #131
Lets talk about it

[2016-02-02 10:33] #123 closed

[2016-02-02 11:36] leosa83 commented on #118
Not part of the 0.2 release because only RT projects will be part of the hub and no need to use a "distinguisher" when there is no other type of projects present

[2016-02-02 11:42] leosa83 commented on #9
Ok great @modsmoss , i dont know about any tool for that. What we could do without a tool is to modularize using templates and potentially having a folder called snippets where snippets are documented and maybe have a route /snippets for development purposes.

[2016-02-02 11:45] leosa83 commented on #78
We have a search button in the navbar - we also have a working search feature. Some design topups could be done to the autosuggest though.
But should we disable search feature for 0.2 since we will only launch with three projects?
@brylie

[2016-02-02 11:47] leosa83 commented on #71
@Angamanga Could you do the remaining checkbox ?

[2016-02-02 11:54] Angamanga commented on #71
@leosa83 sure!

[2016-02-02 12:06] Angamanga commented on #78
About autocomplete, if that is still an issue, I recently used this library for autocomplete in a Meteor-project: https://leaverou.github.io/awesomplete/. It was kind of neat and straightforward! @mark-mcevoy @brylie

[2016-02-02 12:08] Angamanga commented on #71
I pulled this branch and noticed it still has auto publish turned on. Is it a reason for that or may I turn it off? @modsmoss @brylie @leosa83

[2016-02-02 12:16] brylie commented on #71
We have removed autopublish, so please make sure it doesn't get re-added in future PRs.

[2016-02-02 12:17] brylie commented on #78
Looks great! Lets give it a try :-)

[2016-02-02 12:21] Angamanga commented on #71
ok, is the rest of this branch(feature-issue71-search-and-filter) merged into develop? In that case I can start a new branch instead. But if the rest of the functionality for this issue is still unmerged I guess I need to continue in this branch?

[2016-02-02 12:28] leosa83 commented on #71
@Angamanga Yes all of these checkboxes have been merged into develop im pretty sure

[2016-02-02 12:29] Angamanga commented on #71
Good! I'll start a new branch then!

[2016-02-02 12:29] Angamanga commented on #71
Maybe we should delete this branch then?

[2016-02-02 12:38] leosa83 commented on #122
Removed this from 0.2

[2016-02-02 12:40] leosa83 commented on #71
Yes , when we have double checked that all commits have been merged.. if you can check it please do so..

[2016-02-02 12:56] Angamanga commented on #122
Closed by PR#133

[2016-02-02 12:56] #122 closed

[2016-02-02 13:24] Angamanga opened #134 "Adjustment of projects in singleProjects.html"
Make each project align as described in mockup, https://projects.invisionapp.com/share/HQ540EQ2S#/screens/118855239.

Every project now takes up the whole screen (col-12)(issue #122). This is a temporary fix made in commit https://github.com/refugeetech/platform/tree/a4271005c9574a5b68a6e9cc734749299a5145e3, since the adjustment of projects was not good at that point (projects jumping to the right

[2016-02-02 14:26] leosa83 commented on #132
After having spoken with key people in the team this issue is no longer prioritized for the 0.2 milestone

[2016-02-02 14:33] leosa83 commented on #134
Thanks @Angamanga

[2016-02-02 14:37] leosa83 opened #135 "Searchbar"
# Searchbar
* [ ] Close by clicking on the close button developed by @modsmoss or by clicking on the searchbutton again
* [ ] Reset searchbar when route occurs
* [ ] Search by pressing enter outside of /projects (no auto complete) => route to /projects?search=****

[2016-02-02 14:39] leosa83 opened #136 "Footer"
# Footer
* [x] Copy the appearance from https://projects.invisionapp.com/share/HQ540EQ2S#/screens/118594700
  * [x] Reuse some of the html for the footer from www.refugeetech.com
* [x] 'Press inquires' link => /press
* [x] Remove 'Work Forum'
* [x] Slack Community link with slack font-awesome
* [x] Facebook Forum link with Facebook font-awesome

[2016-02-02 15:00] leosa83 commented on #135
im conflicted about this one if we are only having a couple of projects there is no meaning in having a functional search button. Whats your input @Angamanga ?

[2016-02-02 15:28] Angamanga commented on #135
@leosa83 Hopefully we will have lots of projects in the future, but as for milestone 0.2, we might not need to prioritize it?

[2016-02-02 15:29] leosa83 commented on #135
Thats what im thinking , but if we have a searchbutton in the navbar that doesnt do anything , wouldnt it be weird?

[2016-02-02 15:44] Angamanga commented on #135
Ok, so the search button is only for the projects, not all content? Then we might consider commenting the search button out for this milestone and add it when there are more projects present?

[2016-02-02 16:21] leosa83 commented on #135
Yes , lets do that . Whats your input @miladf ? @Davito163 ?

[2016-02-02 19:05] #135 closed

[2016-02-02 19:42] leosa83 commented on #75
@modsmoss or @virre or @josefcarlsson Could you self assign this one?

[2016-02-02 19:54] leosa83 opened #137 "Develop the RT project description"
# Work in progress
* [ ]  What is an RT project

* An RT project is a project has gone through the RT process
* An RT project can be adopted by a project owner
* The project owners responsibility is to deliver the project into an organisation that is capable of implementing the solution

* [ ] What are the RT project standards
* The solution is predominantly mediated by technology
* The solution i

[2016-02-03 12:19] brylie commented on #75
I have updated the task description to include a practical suggestion for how to implement the feature.

[2016-02-03 12:30] Angamanga commented on #75
I can give it a try!

[2016-02-03 14:23] Angamanga commented on #75
@brylie I have added the Carrot share but I don't get it to work. Could you please take a look? Its row 27 in navbar.html and 36-53 in navbar.js.

[2016-02-03 15:08] brylie commented on #75
@Angamanga to make code review easier, open a pull request from your branch by comparing against `develop`. Then, add the `needs work` tag to indicate that your PR is in progress. Note: be sure to add "Closes #75" in the title of your pull request.

[2016-02-04 12:50] leosa83 commented on #71
This was closed by PR #138

[2016-02-04 12:50] #71 closed

[2016-02-05 22:22] virre opened #141 "Style landingpage to match mockup"
Currently the landing page is mostly a place holder

- [x] Create page accoridng to mockup: https://projects.invisionapp.com/share/J353G8DCW#/screens/118594700
   - [x] Create html template in accordance with mockup.
   - [x] Create styles to match mockup.
* [ ] Develop content @Shahin89
There is possible reuseable elements and style at Refugeetech.com

[2016-02-05 23:35] virre commented on #136
How should copyright information be presented as on current page or suggestions (e.g "(c) 2016" or "(c) 2016 Refugee Tech" )  and should it really be other colors then rest of right aligned footer content

For that matter should FA links really be the read color. The design is for text links and not font-awesome versions.

However basic branch with most of it created in branch feature-issue136-foo

[2016-02-05 23:40] virre commented on #136
But except above as far as I can see this would be ready for a pull-request.

[2016-02-05 23:42] leosa83 commented on #136
Ok nice Virre! Regarding your comment. Lets go with how the design looks like for now. Please submit a PR if you think its ready. I will try to review it during the hackathon tomorrow while you will be hacking away on  important stuff :)

[2016-02-10 02:20] leosa83 commented on #111
Lets just add a boolean for now; is rtProject => is a project that has gone through the Refugee Tech process

[2016-02-10 02:21] #111 closed

[2016-02-10 04:08] leosa83 commented on #113
I think we need to move this back to this milestone (0.2)

[2016-02-10 04:09] leosa83 commented on #113
I self assigned this one @Angamanga , tell me if you already have done lots of coding on this one: but i thionk that it actually is really simple using the quickform semantics

[2016-02-10 04:52] Angamanga commented on #113
No, no coding yet... But I was thinking about authorisation? Who should be able to edit? Do we have any kind of authorisation implemented yet?

[2016-02-10 05:14] leosa83 commented on #113
No authorisation yet , not needed for the 0.2 release

[2016-02-10 05:17] leosa83 commented on #113
A pull request has been submitted

[2016-02-10 08:51] brylie commented on #113
Great! I will review :-)

[2016-02-10 09:01] brylie commented on #113
OK, looks good. I suggested some minor changes, for consistency and semantics.

[2016-02-10 22:51] #113 closed

[2016-02-11 22:03] Angamanga commented on #141
@virre do you need help with this issue?

[2016-02-12 06:50] leosa83 opened #148 "About us Page"
# About us page
* [x] Look and feel like on mockup
https://projects.invisionapp.com/share/HQ540EQ2S#/screens/118594703
* [ ] Develop the text @Shahin89
* [ ] Compose a video loop then convert to [gfycat](http://gfycat.com/about)
  * [ ] Choose the content @Davito163 @Shahin89 @Jonathan-Fristedt
  * [ ] Cut and compose @Jonathan-Fristedt + (Andreas)
  * [ ] Quality assurance @miladf
  * [ ] Convert

[2016-02-12 08:00] brylie opened #149 "Convert tabs to spaces (2) in project files"
There are several files in our project that use tabs, or four spaces, for each level of indentation. Convert indentation in all files to use two spaces per indent level.

# Criteria
* [x] `projects/view/client/projectProfile/beAPart/beAPart.css` contains two spaces per level of indentation, instead of tabs
* [x] `projects/view/client/rtProject/rtProjectInfoSection.css` contains two spaces per leve

[2016-02-12 08:16] leosa83 commented on #141
There is still some issues left; i created margins for each section but there should be non. Mobile adapations with bootstrap col-\* classes, and other things still to be figured out

[2016-02-12 08:21] leosa83 commented on #75
@Angamanga Is it possible for you to create the look and feel as in the mockup with a transparent overlay and all of that?

maybe this is better suited for you , @modsmoss or @virre , as there is some tricky frontend stuff here?

[2016-02-12 08:26] leosa83 commented on #128
The datastructure is basically set for now - we need some reviewing of it though. Can you review @brylie the schemas and ask the hard questions so we can clean it up before implementing migration support.

[2016-02-12 08:46] leosa83 opened #151 "style What we do page according to mockup"
# Definition of Done

* [x] Style according to mockup
https://projects.invisionapp.com/share/HQ540EQ2S#/screens/118594701
* [ ] Develop content @Shahin89
* [x] Create sectionWhatWeDo.html/css and style according to mockup
* [x] Create sectionHowItWorks.html/css and style according to mockup
  * [x] re-use some of the html from the jekyll site
  * [x] re-use some of the CSS from the jekyll site
* [

[2016-02-12 08:51] brylie opened #152 "Convert absolute values in CSS files to relative values, where applicable"
Our style files contain absolute values(i.e. `px`) values, where they could instead be defined in relative units (`em`, `%`, `rem`). Relative values help to ensure that templates render responsively in varying display dimensions. Convert absolute units to relative units in recently added CSS files.

# Criteria
* [ ] Layout related style rules (margin, padding, etc.) are converted to relative units

[2016-02-12 08:54] brylie opened #153 "Add code style guide to project"
In order to promote consistency in project sourcecode, add a code style guide to the project root. Include explanations of why certain conventions are adopted for the project, so that developers can have a better understanding of the intentions behind each suggested convention.

# Criteria
* [ ] Project contains code styleguide in markdown format
* [ ] code styleguide contains basic conventions fo

[2016-02-12 08:55] leosa83 commented on #153
:+1:

[2016-02-12 09:04] brylie commented on #149
Great! I will help out here.

[2016-02-12 09:12] leosa83 commented on #149
Perf! I just pushed some changes to the issue branch.

[2016-02-12 10:07] leosa83 commented on #81
Evrything for requirements 0.2 has been implemented: will close this issue for now.

[2016-02-12 10:07] #81 closed

[2016-02-12 10:29] #149 closed

[2016-02-12 10:33] leosa83 commented on #124
This is the link to the typeform: http://tinyurl.com/rt-jointhehub
@Shahin89 @miladf feedback

[2016-02-12 10:38] leosa83 commented on #141
Will pass it back to you know @virre

[2016-02-12 10:40] leosa83 commented on #136
this has been closed and merged

[2016-02-12 10:40] #136 closed

[2016-02-12 10:42] leosa83 commented on #124
Have assigned you @Angamanga

[2016-02-12 10:45] leosa83 opened #155 "Start using Meteor.User"
WORK IN PROGRESS
As a project owner
I would like to edit project details
so that i can update the content published in the project hub

As a project owner
I would like to administer user roles for my project
So that i can collaborate with others

[2016-02-12 10:46] leosa83 commented on #155
I assigned you @brylie since you could set this up real quick while i would need to do some research

[2016-02-12 10:53] leosa83 opened #156 "Fix layout issues on the rtProjectPage"
There is still some things to do to make it look good. Will fill this with stuff based on your input and what i discover myself @refugeetech/design @Davito163 @ilix

* Add mockup project with Factory.create('project') in the browser console
* Browse to a project profile page
* add  /update to the adress in the adress field
* check the box saying something like "is this project a result of the refu

[2016-02-12 21:40] Angamanga commented on #148
@leosa83 according to the mockup, there should be a movie playing on the page, do we have a movie to use?

[2016-02-12 22:05] leosa83 commented on #148
No not yet , we will use a picture initially

[2016-02-12 23:27] brylie commented on #155
Ok. Will you clarify the issue description a bit more?

[2016-02-12 23:49] brylie commented on #131
Move these requirements into separate issues. Add a milestone to each issue (not everything needs to fit into the 0.2 release). Then, we can use the milestone page(s) to track progress:

https://github.com/refugeetech/platform/milestones/0.2

[2016-02-15 04:12] brylie commented on #155
@leosa83 will you please describe this issue using the [template from our contributing guide](https://github.com/refugeetech/platform/blob/develop/CONTRIBUTING.md#submitting-issues)?

[2016-02-15 04:15] brylie commented on #155
It would help to have a description of what we want to achieve in general terms. Don't worry too much about technical details for now. We can sort those out during development.

[2016-02-15 04:39] brylie commented on #128
On second thought, the project doesn't need migration support until the first schema change. If the data structure seems stable, I recommend waiting until this feature is needed.

[2016-02-15 04:39] #128 closed

[2016-02-15 04:53] #141 closed

[2016-02-15 05:09] brylie commented on #131
Large issues like this area bit hard to read, can't be granularly assigned, and duplicate the Milestone page:

https://github.com/refugeetech/platform/milestones/0.2
https://github.com/refugeetech/platform/milestones/0.3
https://github.com/refugeetech/platform/milestones/0.4
...

In general, please keep issues small with relevant details to complete the task. Follow the [guidelines described in th

[2016-02-15 05:46] brylie commented on #75
Merged and included in the 0.2 release! :-) Thanks @Angamanga.

[2016-02-15 05:47] #75 closed

[2016-02-15 05:47] #125 closed

[2016-02-15 10:24] leosa83 commented on #155
Ok :)

[2016-02-15 13:04] leosa83 opened #158 "Adjust the landing page according to feedback"
Feedback on buttons
https://www.dropbox.com/s/qewfnq33eu8rwhc/feedback_desktop_v1.jpg?dl=0

Feedback on margins and  image gradient
https://www.dropbox.com/s/9oq40sbyvkd2agv/feedback_desktop_v2.jpg?dl=0

Feedback on mobile layout and style
https://www.dropbox.com/s/ako4q5fv89xnyql/feedback_mobile_v1.jpg?dl=0

[2016-02-15 13:05] leosa83 opened #159 "Button style"
Adjust style of buttons according to feedback
https://www.dropbox.com/s/qewfnq33eu8rwhc/feedback_desktop_v1.jpg?dl=0

[2016-02-15 13:06] leosa83 opened #160 "Margins"
Adjust the margin according to this feedback
https://www.dropbox.com/s/9oq40sbyvkd2agv/feedback_desktop_v2.jpg?dl=0

[2016-02-15 13:07] leosa83 opened #161 "Image gradient and mirror and margins"
Create graditent on image according to this feedback, and flip the image, and correct the margins
https://www.dropbox.com/s/9oq40sbyvkd2agv/feedback_desktop_v2.jpg?dl=0

[2016-02-15 13:09] leosa83 opened #162 "Mobile layout"
Adjust mobile layout according to this mockup
https://www.dropbox.com/s/ako4q5fv89xnyql/feedback_mobile_v1.jpg?dl=0

One could use this to logically separate the different layouts: https://github.com/gadicc/meteor-reactive-window

check out : https://github.com/refugeetech/platform/blob/develop/whatWeDo/client/whatWeDo.html
for an example how i used it.

Mainly it is the landing page that needs so

[2016-02-15 13:11] leosa83 commented on #158
Issues created

[2016-02-15 13:11] #158 closed

[2016-02-15 13:30] leosa83 opened #163 "Transparent overlay for share feature"
Create and style an overlay according to this mockup
https://projects.invisionapp.com/share/HQ540EQ2S#/screens/124546663

# Definition of done
* [ ] Clicking share button reveals a semi transparent overlay according to mockup
* [ ] The overlay contains styled button for the different outlets (twitter etc)
  * [ ] Button are styled by using carrot share styles
  * [ ] The buttons active carrot shar

[2016-02-15 13:56] leosa83 opened #164 "Publish 0.3 milestone features to a production ready branch and deploy"
We are migrating the repository for www.refugeetech.com from using a jekyll site to using the platform repository code.

# Definition of done
Features include ONLY the following AFTER having resolved all  [0.3 issues](https://github.com/refugeetech/platform/milestones/0.3)
* [ ] Landing page
* [ ] What we do route in header
  * [ ] What we do page
* [ ] About us route in footer
  * [ ] About us pa

[2016-02-15 14:00] leosa83 commented on #131
Will do

[2016-02-15 14:00] #131 closed

[2016-02-15 14:16] leosa83 commented on #164
@brylie How should we handle the fact that the releases are different from what is actually published to www.refugeetech.com ? Is the above a suitable way?

[2016-02-15 14:17] #126 closed

[2016-02-15 14:20] leosa83 opened #165 "Change the "blog" section in landing page"
Because there is no blog, the blog section in the landing page needs to be adapted to include something else; or be removed entirely.

# Definition of done
* [x] Change to "Community"
* [x] Find a relevant article
* [x] Write a new paragraph
* [x] Link to article
* [ ] Link Project page (lingios homepage or something)

[2016-02-15 14:26] brylie commented on #164
It seems like the front page content is nearly the same, and static sub-pages can be added easily.

One approach is to do things incrementally:
- replace the current static site with the next release version (e.g. 0.3)
- add only one or two full features to each release, e.g., the catalogue and front page
- avoid adding any boilerplate text/features to the platform, so as not to confuse visitors

[2016-02-15 15:08] leosa83 commented on #164
Ok so then basically the develop branch should not have any boilerplate code and non-used active routes..

[2016-02-15 15:23] leosa83 commented on #161
@Davito163 I think its easier if you do the gradient and mirroring in photshop, then we use that picture.

[2016-02-15 15:56] leosa83 opened #166 "Refactor static sections"
Organize all static content sections into templates

[2016-02-15 16:28] brylie commented on #164
Yep. That way the project managers can continuously deliver releases made from `develop` or `master`, whichever you choose.

[2016-02-15 17:01] #166 closed

[2016-02-15 17:08] leosa83 opened #168 "Add section: Hello lets be friends to landing page"
The last section in this mockup: https://projects.invisionapp.com/share/J353G8DCW#/screens/118594700

# Definition of Done
* [x] add the file sectionHelloFriends.html and sectionHelloFriends.css to landing/client folder
* [x] create template with the same name
* [x] style in specific to section in css file and html structure in the html file using bootstrap semantics
* [x] Looks according to mocku

[2016-02-15 19:48] Angamanga commented on #148
I am wondering about the navbar on the about us page. It looks like it is transparent on the mock-up, compared to the other pages where it is white. Is it supposed to be like that or is it ok to keep it like it is on the other pages? I am unsure if it is possible to fix a specific style to the navbar on this page without making a new navbar?

[2016-02-15 20:01] leosa83 commented on #148
Yes good question: No we are sticking with our navbar design atm; we might go for tranparency later.

[2016-02-15 20:25] Angamanga commented on #168
I am developing this for the about-page and it can be used on the landing page as well.

[2016-02-15 20:26] leosa83 commented on #168
Perfekt!

[2016-02-15 20:44] #160 closed

[2016-02-15 20:44] leosa83 commented on #160
Handled by #161

[2016-02-15 21:13] Angamanga commented on #148
I cannot find the last photo in the Hello-lets-be-friends section, is that available somewhere?

[2016-02-15 21:24] leosa83 commented on #148
![gfx_intro](https://cloud.githubusercontent.com/assets/710548/13060568/dc6e6336-d432-11e5-8d73-113e0f6e51d2.jpg)
Here it is

[2016-02-15 21:24] Angamanga commented on #148
Thanks!

[2016-02-15 22:33] Angamanga commented on #168
I put it in a directory in the main-directory instead since it will probably be used on several pages.

[2016-02-15 22:40] Angamanga commented on #124
:+1:

[2016-02-15 22:55] leosa83 commented on #159
Can you please adjust the logo @modsmoss, it was you who created the svg file right?

[2016-02-15 23:17] leosa83 commented on #159
I will make a separate issue for the logo correction

[2016-02-15 23:22] leosa83 commented on #168
Looks nice :)

[2016-02-15 23:24] leosa83 commented on #162
Need help here @refugeetech/develop

[2016-02-15 23:26] leosa83 opened #172 "Change fonts and font weights and sizes"
# Defintion of done
* [ ] all pages have the correct fonts

# Instructions
* Fontsizes:
* Font type: Lab grotesque

[2016-02-15 23:30] leosa83 commented on #172
@Davito163 Kan du ge insturktioner för vilka fontsizes etc som ska användas?

[2016-02-16 08:42] leosa83 commented on #165
@Shahin89 Please find me an article

[2016-02-16 09:57] #165 closed

[2016-02-16 09:59] #161 closed

[2016-02-16 11:08] #159 closed

[2016-02-16 13:55] leosa83 opened #175 "Include the carrot share feature"
include the carrot share feature previously included in the 0.2 release

[2016-02-16 17:19] leosa83 opened #177 "Style share button"
Try to make the share button use glyph icons
HAve the same hover effect as the other nav buttons

[2016-02-16 17:27] leosa83 opened #178 "cleanup: remove boiler plate code and deactivate unused routes"
All navbar buttons that are not used should be commented out
All routes not used should be commented out

[2016-02-16 17:29] leosa83 commented on #172
@Davito163 Kan du snälla fixa en png på psd filen?

[2016-02-16 17:30] leosa83 commented on #172
@miladf Du kanske kan hjälpa till? :

[2016-02-16 17:34] leosa83 opened #179 "Create copy for all pages and sections"
@miladf @Shahin89 @jonathan
* [ ] [Landing page ](https://projects.invisionapp.com/share/HQ540EQ2S#/screens/118594700)
  * [ ] Copy for Our process section:
    * [ ] Change "Knowledge hub" column to something else and create copy
    * [x] Change "Projecthub" column to something else and create copy (already done: check out https://github.com/refugeetech/platform/blob/feature-copywriting/landing/

[2016-02-16 17:43] leosa83 commented on #179
@miladf @Shahin89

[2016-02-16 17:46] leosa83 opened #180 "Final touch up on each page and section"
About us page on route /about => about/view/client/*
* [ ] Touch up the fonts
* [x] Add section padding
* [ ] Change color of links  in sectionHelloFriends to #20245C
* [ ] Change color of headings to #20245C

What we do page on route /what-we-do => about/view/client/*

Landing page => landing/client/*

[2016-02-17 16:35] miladf commented on #179
@Shahin89 När kan vi bli klara med detta?

[2016-02-18 00:01] #168 closed

[2016-02-18 00:11] #175 closed

[2016-02-18 11:06] leosa83 commented on #148
Merged

[2016-02-18 11:29] leosa83 opened #181 "Section "whate theyre saying about us""
Style according to this mockup the section "What theyre saying about us"
https://www.dropbox.com/s/9jcfr3ze6gkg7vd/RT_Start_012_1440_DT.png?dl=0

(ive already handled the below @Shahin89 )
* [x] Collect all our media appearances in a spreadsheet @Shahin89
* [x] Post the link to the spreadsheet in the comments section here @Shahin89

[2016-02-18 13:45] Angamanga commented on #178
Does this apply to buttons as well?

[2016-02-18 13:49] Angamanga commented on #178
@leosa83 I noticed that all buttons on landing-page routes to #involved. Is it ok to change to the correct route instead (where a route exists)? Its not a part of this issue but I thought I can fix it while I am checking the routes anyway...

[2016-02-18 13:49] #172 closed

[2016-02-18 14:27] leosa83 commented on #181
@miladf  @Shahin89 Can you post here all links to media articles on RT?

[2016-02-18 16:59] leosa83 commented on #124
closed by #182

[2016-02-18 16:59] #124 closed

[2016-02-23 08:49] #178 closed

[2016-02-23 09:02] #78 closed

[2016-02-27 08:51] leosa83 commented on #180
Jag la till dig @josefcarlsson !

Hoppas att du kan ställa upp, det kommer att vara redo att påbörjas på tisdag kväll och ska helst vara klart på fredag kväll. Jag kommer att fylla i vad som behöver göras, men det handlar brara om att se till att det ser bra ut över alla sidor och justera CSS och HTML. Typ quality assurance. @miladf Är produkt ägare, ger feedback på det som behöver förbättras. Mer

[2016-02-27 11:57] leosa83 opened #185 "Remove the GPL license and Add the MIT license"

[2016-02-29 15:18] jonathan commented on #148
@jonathan is not Andreas. It's me. :)

You probably want to change that.

[2016-02-29 20:53] leosa83 commented on #148
Will do :) @jonathan

[2016-03-03 11:59] leosa83 commented on #181
Working on the feature-181 branch, almost done with html and css. CSS help wanted

[2016-03-03 17:12] #181 closed

[2016-03-04 16:07] leosa83 opened #188 "Hide navbar when scrolling down"
# Description
The navbar disturbs the user experience by covering content that should be visible on the viewport. For instance certain sections are supposed to cover the whole viewport for proper experience but the navbar then covers the heading or other content.

# Definition of Done
* [ ] hide the navbar scrolling down IF scrolled past the shrink point
* [ ] Show the navbar scrolling up

[2016-03-04 19:51] leosa83 commented on #151
This is done, only need some final touch up with fonts and maybe improve the mobile layout. All of this handled by other issues.

[2016-03-04 19:52] #151 closed

[2016-03-04 19:54] leosa83 commented on #162
I have added a package for reactively changing templates based on screen sizes: check it out https://github.com/gadicc/meteor-reactive-window

[2016-03-04 19:56] leosa83 commented on #180
@josefcarlsson Lets have a tele session before you start developing on this.

[2016-03-04 20:08] leosa83 opened #189 "bugfix sectionWhatTheySay carousel break on reload"
When reloading the landing page: sectionWhatTheySay Owl Carousel breaks on reload.

[2016-03-04 23:24] Shahin89 commented on #181
Internetworld: http://internetworld.idg.se/2.1006/1.647356/teknik-integration
Sveriges radio - Nordegren & Epstein http://sverigesradio.se/sida/artikel.aspx?programid=4058&artikel=6325671
Metro: https://issuu.com/metro_sweden/docs/20151211_se_stockholm/3?e=0
Sveriges radio: http://sverigesradio.se/sida/artikel.aspx?programid=103&artikel=6290852
DI digital: http://digital.di.se/artikel/techinsats-t

[2016-03-07 09:59] leosa83 opened #192 "Use a CDN for static assets"
* [x] Try using github as the cdn for static assets
  * [x] Link every used pic to githubs online copy

[2016-03-07 10:00] leosa83 opened #193 "Deploy to a free tier plan on heroku or other appropriate service"
* [ ] Benchmark existing services - whats best for a meteor project
* [ ] Create an account
* [ ] Deploy and test
* [ ] Merge into master
* [ ] Release

[2016-03-07 11:02] leosa83 commented on #192
Tried linking the pics but it was actualy slower than serving them from within meteor. For some reason svg files didnt load.

[2016-03-07 11:04] leosa83 commented on #192
There might be a chance that using github pages is a more effective approach. Since refugeetech,com is served by github poages i will try to link pics and svgs from there.

[2016-03-07 11:17] leosa83 opened #194 "resize images appropriately"
children pics are to big for the usecase

[2016-03-07 11:34] leosa83 commented on #192
to use a CDN might not be necessary for the 0.3 release

[2016-03-07 11:35] #192 closed

[2016-03-07 11:36] leosa83 commented on #164
Im using branch 03-production-ready in #195

[2016-03-07 11:38] leosa83 opened #196 "Divid the application into packages"
* [ ] Pull out the static part of the app into a separate package: basically everything functional for release 0.3

[2016-03-23 22:42] leosa83 opened #197 "Small fixes"
Facebook and Twitter links in the footer to the left

Completed copy
*  [x] What we do
* [ ] Landing page
  * [ ] ---

[2016-06-09 12:44] leosa83 commented on #193
Have deployed to Galaxy

[2016-06-09 12:44] #193 closed

[2016-06-09 12:44] #116 closed

[2016-06-09 12:45] #118 closed

[2016-06-09 12:45] #127 closed

[2016-06-09 12:46] #132 closed

[2016-06-09 12:46] #179 closed

[2016-06-09 12:47] #148 closed

[2016-06-09 12:47] #196 closed

[2016-06-09 12:47] #194 closed

[2016-06-09 12:47] #164 closed

[2016-06-09 12:48] #134 closed

[2016-06-09 12:48] #153 closed

[2016-06-09 12:49] #152 closed

[2016-06-09 12:49] #137 closed

[2016-06-09 12:49] #162 closed

[2016-06-09 12:49] #155 closed

[2016-06-09 12:50] #60 closed

[2016-06-09 12:50] #74 closed

[2016-06-09 12:50] #73 closed

[2016-06-09 12:51] #9 closed

[2016-06-09 12:51] #27 closed

[2016-06-09 12:51] #33 closed

[2016-06-09 12:51] #43 closed

[2016-06-09 12:51] #72 closed

[2016-06-09 12:51] #76 closed

[2016-06-09 12:51] #77 closed

[2016-06-09 12:51] #84 closed

[2016-06-09 12:51] #106 closed

[2016-06-09 12:51] #107 closed

[2016-06-09 12:51] #109 closed

[2016-06-09 12:51] #119 closed

[2016-06-09 12:51] #156 closed

[2016-06-09 12:51] #163 closed

[2016-06-09 12:51] #177 closed

[2016-06-09 12:51] #180 closed

[2016-06-09 12:51] #185 closed

[2016-06-09 12:51] #188 closed

[2016-06-09 12:51] #189 closed

[2016-06-09 12:51] #197 closed

[2016-06-10 17:03] leosa83 opened #205 "Create a new API using a meteor API package"
# About

There is no need to reinvent the wheel. Some people prefer to adhere to the JSON API 1.0 Specificaton but for an MVP i believe following the JSend format.

# List of potential packages

- [Restivus](https://github.com/kahmali/meteor-restivus)
  - Follow the JSend format
- [simple:rest](https://github.com/stubailo/meteor-rest)
  -Some more research needed into this one

I believe the easie

[2016-06-16 14:00] #205 closed

[2016-06-16 14:03] leosa83 opened #207 "Secure the API and CMS"
# Description

Currently the API is completely open.

Development on this is currently beeing done in the "secureapiandcms" branch

# Todo
- Secure the CMS
  - Add User and Role handling // DONE
  - Use this to Implement user permissions to allow / deny  update/insert/upsert on the projects collections from the client
    - Check out the permissons.js files for reference

- Block all POST operatio

[2016-08-01 19:52] leosa83 opened #208 "Update the schema"
# Description
New categories have been added due to the Mighub project: https://github.com/refugeetech/MigHub/issues/30

Make apprioriate changes in the projects schema

[2016-08-01 21:07] leosa83 opened #210 "Feature Open Tasks from Trello"
# Description
## route
/projects/:id
## Template
/project-profile-html-template
## Todo
### Design features
The structure of the Open Tasks for Trello should be:

``` If number of trello boards > 1 and If number of cards > 0 then <h1> 'Tasks in Board' + board.name </h1> else if number of boards == 1 and cards == 0 then show an empty table```
Header: Card, Description, Labels, Bulletpoints
Row (onC

[2016-08-01 22:06] leosa83 opened #211 "Feature Issues from Github"
# Description
## route
/projects/:id
## Template
/project-profile-html-template
## Todo
### Design features
The structure of the Issues from Github should be:

``` If number of github repos > 1 and If number of issues > 0  then <h1> 'Issues in Repo' + repository.name </h1> else if number of repos == 1 and issues == 0 then show an empty table ```
Header: Issue, Labels, Milestone
Row (onClick => ope

[2016-08-01 22:33] #208 closed

[2016-08-02 20:13] leosa83 opened #212 "Feature Market View"
# Description
TBA

[2016-08-08 18:38] leosa83 opened #214 "Feature translations"
# Description

A project should be able to provide a description in several languages.

# Todo
Extend the schema with languages included in the Setelin app

[2016-08-08 20:15] leosa83 commented on #214
I forgot to add language tag to the main description and name.

[2016-08-08 20:29] #214 closed

[2016-08-09 13:55] #211 closed

[2016-08-11 09:00] leosa83 opened #218 "Detailed project viw in Setelin APP requires new description field"
# Description
https://github.com/refugeetech/MigHub/issues/23

In the bottom there is a type of text that goes more into detail of theprojects background.

# Todo
Extend the Projects Schema with: storyDescription

# Extra

In the mighub application form we have collected the projects answer on what problem the are solving in more detail. The project description , shortDescription and description c

[2016-08-17 18:51] leosa83 opened #219 "Setelin Needs a "mainCategory" field"
# Description

Setelins usecase is currently dependent on having a main category for each project

# Todo
add this to the project schema:
[code]

I dont think we need to change the name of the challengeCategories field, but the label might need to change to:
[code]

[2016-08-20 10:32] #219 closed

[2016-08-20 11:10] #207 closed